<section class="section clothing-categories">
    <h2 class="section-title"><strong>Categories</strong></h2>
    <!--<p class="section-intro">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p> -->
    <div class=" flex-grid">
            <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/dye-sublimatable-htv/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-dyesubhtv-01.jpg?t=1631022046&_gl=1*560r9w*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTAxOTQzNi44OC4xLjE2MzEwMjE5MDAuNDk."
                        alt="Siser Easyweed Heat Transfer Vinyl">
                    <h4 class="home-category-banner"><strong>Dye Sub HTV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/clear-htv/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-clearhtv-01.jpg?t=1631022046&_gl=1*560r9w*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTAxOTQzNi44OC4xLjE2MzEwMjE5MDAuNDk."
                        alt="ThermoFlex Plus Heat Transfer Vinyl">
                    <h4 class="home-category-banner"><strong>Clear HTV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/siser-dye-sublimation-glitter-12/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-dyesubglitter-01.jpg?t=1631022048&_gl=1*560r9w*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTAxOTQzNi44OC4xLjE2MzEwMjE5MDAuNDk."
                        alt="WALAKut Heat Transfer Vinyl">
                    <h4 class="home-category-banner"><strong>Glitter HTV</strong></h4>
                </a>
            </div>
        </div>
           <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/siser-holographic-pearl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-holodyesub-01.jpg?t=1631022048&_gl=1*560r9w*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTAxOTQzNi44OC4xLjE2MzEwMjE5MDAuNDk."
                        alt="Heat Transfer Vinyl">
                    <h4 class="home-category-banner"><strong>Holo HTV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/glow-in-the-dark-easyweed-12/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-glow-01.jpg?t=1631022047&_gl=1*560r9w*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTAxOTQzNi44OC4xLjE2MzEwMjE5MDAuNDk."
                        alt="Neon Heat Transfer Vinyl">
                    <h4 class="home-category-banner"><strong>Glow in the Dark HTV</strong></h4>
                </a>
            </div>
        </div>
    </div>
</section>
