<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/clearvinyl-landingpageright.jpg?t=1631021761&_gl=1*560r9w*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTAxOTQzNi44OC4xLjE2MzEwMjE5MDAuNDk."
                    alt="Dye Sublimation">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Clear Vinyl</strong></h3>
                    <p>Sublimate on cotton with Clear HTV!</p>
                    <a href="/clear-htv/"
                        class="button button--outline button--large clr-white">Shop Clear Vinyl</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/cleardyesuboncotton-landingpage.jpg?t=1631021760&_gl=1*560r9w*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTAxOTQzNi44OC4xLjE2MzEwMjE5MDAuNDk."
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Dye Sublimation Vinyl</strong></h3>
                    <p>Sublimate on any garment with Dye Sub HTV!</p>
                    <a href="/dye-sublimatable-htv/" class="button button--outline button--large clr-white">Shop Dye Sub Vinyl</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/cleardyesubglitter-landingpage.jpg?t=1631021762&_gl=1*560r9w*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTAxOTQzNi44OC4xLjE2MzEwMjE5MDAuNDk."
                    alt="Specialty Heat Transfer Vinyl">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Glitter Dye Sub Vinyl</strong></h3>
                    <p>Add some sparkle and texture to your dye sublimation!</p>
                    <a href="/siser-dye-sublimation-glitter-12/"
                        class="button button--outline button--large clr-white">Shop Glitter Vinyl</a>
                </div>
            </div>
        </div>
    </div>
</section>
