<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/patriotic-patternvinyl-2.jpg?t=1620138386&_ga=2.131659463.915884091.1620051914-1098918792.1573072587"
                    alt="Patterned Vinyl">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Patterned Vinyl</strong></h3>
                    <p></p>
                    <a href="/july-4th-patterned-vinyl/"
                        class="button button--outline button--large clr-white">Shop Patriotic Vinyl</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/patritic-supacolortransfers.jpg?t=1620139581&_ga=2.30555383.915884091.1620051914-1098918792.1573072587"
                    alt="Supacolor Stock Transfers">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Supacolor Stock Transfers</strong></h3>
                    <p></p>
                    <a href="/stock-supacolor-transfers/" class="button button--outline button--large clr-white">Shop Patriotic
                        Supacolors</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/patritotic-rhinestones.jpg?t=1620156268&_ga=2.119668416.915884091.1620051914-1098918792.1573072587"
                    alt="Rhinestone Transfer">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Rhinestone Transfers</strong></h3>
                    <p></p>
                    <a href="/july-4th-rhinestone-transfers/"
                        class="button button--outline button--large clr-white">Shop Patriotic Rhinestones</a>
                </div>
            </div>
        </div>
    </div>
</section>
