    <section class="section home-brand-logo-section">
    <h2 class="section-title">Categories</h2>
    <p class="section-intro"></p>
	<nav class="popular-brands text-center">
			<a class="brand-item" data-brand="Siser" data-href="/siser-colorprints/" href="/siser-colorprints/">
				<div class="img-container">
					<img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/logo.png?t=1600273903&_ga=2.207057043.1618416250.1600087908-1098918792.1573072587" alt="Siser Printable Vinyl">
				</div>
				<span class="title">Siser</span>
			</a>
			<a class="brand-item" data-brand="Specialty Materials" data-href="/specialty-materials-printables/" href="/specialty-materials-printables/">
				<div class="img-container">
					<img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/specialty-materials.png?t=1600291387&_ga=2.200676782.1618416250.1600087908-1098918792.1573072587" alt="Specilaty Material Printable Vinyl">
				</div>
				<span class="title">Specialty Materials</span>
			</a>
			<a class="brand-item" data-brand="Chemica" data-href="/chemica-printables/" href="/chemica-printables/">
				<div class="img-container">
					<img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/chemica.png?t=1600443736&_ga=2.164573247.1618416250.1600087908-1098918792.1573072587">
				</div>
				<span class="title">Chemica</span>
			</a>
			<a class="brand-item" data-brand="WALAPaper" data-href="/walakut-transfer-paper/" href="/walakut-transfer-paper/">
				<div class="img-container">
					<img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/walapaperlogoteal.png?t=1600291389&_ga=2.168516769.1618416250.1600087908-1098918792.1573072587">
				</div>
				<span class="title">WALAPaper</span>
			</a>
			<a class="brand-item" data-brand="Neenah" data-href="/neenah-transfer-paper/" href="/neenah-transfer-paper/">
				<div class="img-container">
					<img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/neenahpaper.png?t=1600445974&_ga=2.125254026.1618416250.1600087908-1098918792.1573072587" alt="Neenah Transfer Paper">
				</div>
				<span class="title">Neenah</span>
			</a>
			<a class="brand-item" data-brand="Forever" data-href="/forever-transfer-paper/" href="/forever-transfer-paper/">
				<div class="img-container">
					<img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/forever.png?t=1600291382&_ga=2.168516769.1618416250.1600087908-1098918792.1573072587" alt="Forever Transfer Paper">
				</div>
				<span class="title">Forever</span>
			</a>
			<div class=" flex-grid">
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/supacolor-heat-transfer/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-blank.jpg?t=1619462550&_ga=2.146340340.1133977346.1621251000-1098918792.1573072587"
                        alt="Supacolor">
                    <h4 class="home-category-banner"><strong></strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/wide-format-printables/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-wideformat-01.jpg?t=1621862902&_ga=2.139585075.1463904615.1621857032-1098918792.1573072587"
                        alt="Wide Format Printables">
                    <h4 class="home-category-banner"><strong>Wide Format</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/heat-transfer-paper/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-desktop-01.jpg?t=1621862901&_ga=2.110751237.1463904615.1621857032-1098918792.1573072587"
                        alt="Desktop Heat Transfer Paper">
                    <h4 class="home-category-banner"><strong>Transfer Paper</strong></h4>
                </a>
            </div>
        </div>
                <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/heat-transfer-masks/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-printablemask-01.jpg?t=1621862901&_ga=2.109315589.1463904615.1621857032-1098918792.1573072587"
                        alt="Dye Sublimation Printers">
                    <h4 class="home-category-banner"><strong>Transfer Masks</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/custom-heat-transfer-dye-sublimation-transfers/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-blank.jpg?t=1619462550&_ga=2.146340340.1133977346.1621251000-1098918792.1573072587"
                        alt="Custom Dye Sublimation Transfers">
                    <h4 class="home-category-banner"><strong></strong></h4>
                </a>
            </div>
	</nav>
</section>
