<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/wedding-banner-bundle.png?t=1649880432&_gl=1*x0lu8k*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0OTg3OTY4NC42OC4xLjE2NDk4ODA0NDAuNjA."
                    alt="Dye Sublimation">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Wedding Party Koozies</strong></h3>
                    <a href="/wedding-party-koozies-svg-bundle/"
                        class="button button--outline button--large clr-white">Shop SVG Bundle</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/weddingrhinestonesbannerforweb.png?t=1649880811&_gl=1*1x9m6oc*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0OTg3OTY4NC42OC4xLjE2NDk4ODA0NDAuNjA."
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Wedding Rhinestones</strong></h3>
                    <a href="/wedding-rhinestone-transfers/" class="button button--outline button--large clr-white">Shop Rhinestones</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/weddingsayingbundlelandingpage.png?t=1649880435&_gl=1*x0lu8k*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0OTg3OTY4NC42OC4xLjE2NDk4ODA0NDAuNjA."
                    alt="Specialty Heat Transfer Vinyl">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Wedding Koozie Bundle</strong></h3>
                    <a href="/wedding-sayings-koozies-svg-bundle/"
                        class="button button--outline button--large clr-white">Shop SVG Bundle</a>
                </div>
            </div>
        </div>
    </div>
</section>
