<section class="section clothing-categories">
    <h2 class="section-title"><strong>Categories</strong></h2>
    <!--<p class="section-intro">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p> -->
    <div class=" flex-grid">
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/sports-patterned-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-springsportroll1.jpg?t=1644859729&_gl=1*bcbcjs*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDg1ODA1NC41OS4xLjE2NDQ4NTk2MjEuNTc."
                        alt="Spring Sports Patterned Vinyl">
                    <h4 class="home-category-banner"><strong>Patterned Vinyl</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/sports/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-volleyballsupa.jpg?t=1644866028&_gl=1*1s3vgiz*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDg2NDk2OC42MC4xLjE2NDQ4NjU5NTMuMzg."
                        alt="Spring Sports Supacolor Stock Transfers">
                    <h4 class="home-category-banner"><strong>Supacolor Transfers</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/sports-adhesive-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-springsportroll2.jpg?t=1644859729&_gl=1*1kkqwjb*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDg1ODA1NC41OS4xLjE2NDQ4NTk2MjEuNTc."
                        alt="Spring Sports Adhesive Patterned Vinyl">
                    <h4 class="home-category-banner"><strong>Adhesive Patterns</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/athletic-sport-rhinestone-transfers/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-springsportrhinestone.jpg?t=1644859728&_gl=1*1kkqwjb*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDg1ODA1NC41OS4xLjE2NDQ4NTk2MjEuNTc."
                        alt="Spring Sports Rhinestone Transfers">
                    <h4 class="home-category-banner"><strong>Rhinestone Transfers</strong></h4>
                </a>
            </div>
        </div>
    </div>
</section>
