<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/springsportshtv-banner.jpg?t=1644855908&_gl=1*1b1gcyv*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDg1ODA1NC41OS4xLjE2NDQ4NTgwNTkuNTU."
                    alt="Application Fluids">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Patterned Vinyl</strong></h3>
                    <a href="/sports-patterned-vinyl/"
                        class="button button--outline button--large clr-white">Shop Pattern Vinyls</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/springsport-supa-banner.png?t=1644856763&_gl=1*1b1gcyv*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDg1ODA1NC41OS4xLjE2NDQ4NTgwNTkuNTU."
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Supacolor Transfers</strong></h3>
                    <a href="/sports/" class="button button--outline button--large clr-white">Shop Supacolors</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/springsportsrhinestone-banner.jpg?t=1644855907&_gl=1*1b1gcyv*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDg1ODA1NC41OS4xLjE2NDQ4NTgwNTkuNTU."
                    alt="Spring Sports Rhinestone Transfers">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Rhinestone Transfers</strong></h3>
                    <a href="/athletic-sport-rhinestone-transfers/"
                        class="button button--outline button--large clr-white">Shop Stock Transfers</a>
                </div>
            </div>
        </div>
    </div>
</section>
