<section class="section clothing-categories">
    <h2 class="section-title"><strong>Categories</strong></h2>
    <!--<p class="section-intro">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p> -->
    <div class=" flex-grid">
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/heat-presses/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-heatpress-01.jpg?t=1621608400"
                        alt="Heat Press Machines">
                    <h4 class="home-category-banner"><strong>Heat Presses</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/tumblers/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-drinkware-01.jpg?t=1620936227&_ga=2.72048083.1133977346.1621251000-1098918792.1573072587"
                        alt="Sublimation Tumblers">
                    <h4 class="home-category-banner"><strong>Tumblers</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/socks/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-socks.png?t=1643917424&_gl=1*1idhu40*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0MzkxMzk1My4xNy4xLjE2NDM5MTU2MTMuNTI."
                        alt="Silky Socks">
                    <h4 class="home-category-banner"><strong>Socks</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/mens-t-shirts/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-t-shirts.jpg?t=1643917587&_gl=1*1pqrnrj*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0MzkxMzk1My4xNy4xLjE2NDM5MTU2MTMuNTI."
                        alt="Sublimation T-Shirts">
                    <h4 class="home-category-banner"><strong>T-Shirts</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/clothing-blankets/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-blanket.png?t=1643917424&_gl=1*22vifi*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0MzkxMzk1My4xNy4xLjE2NDM5MTU2MTMuNTI."
                        alt="Blankets">
                    <h4 class="home-category-banner"><strong>Blankets</strong></h4>
                </a>
            </div>
        </div>
    </div>
</section>
