<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/craftingunedited-tumblers.jpg?t=1643905883&_gl=1*hje2ue*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0MzkxMzk1My4xNy4xLjE2NDM5MTU2MTMuNTI."
                    href="https://www.heattransferwarehouse.com/search.php?search_query=melanin" alt="Sublimation Tumbler">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Tumblers</strong></h3>
                    <p>Add style to your drinkware with decorative tumblers!</p>
                    <a href="/tumblers/"
                        class="button button--outline button--large clr-white">Shop Tumblers</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/craftingunedited.png?t=1643905884&_gl=1*9ij4nt*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0MzkxMzk1My4xNy4xLjE2NDM5MTU2MTMuNTI."
                    alt="Crafting Unedited">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong></strong></h3>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/craftingunedited-socks.jpg?t=1643905882&_gl=1*9ij4nt*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0MzkxMzk1My4xNy4xLjE2NDM5MTU2MTMuNTI."
                    alt="Sublimation Socks">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Socks</strong></h3>
                    <p>Decorate with sublimation on silky socks!</p>
                    <a href="/socks-dye-sublimation/"
                        class="button button--outline button--large clr-white">Shop Socks</a>
                </div>
            </div>
        </div>
    </div>
</section>
