
<ul class="navPage-subMenu tier-2">
	{{#if show_back}}
		<li class="navPage-subMenu-item back">
			<a class="navPages-action" href="javascript:void(0)">
				{{> components/common/more-icon}} Back
			</a>
		</li>
	{{/if}}
	{{#if view_all_name}}
		<li class="navPage-subMenu-item">
			<a class="navPages-action" href="{{view_all_url}}">
				All {{view_all_name}}
			</a>
		</li>
	{{/if}}
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" href="/custom-heat-transfers/">Custom Heat Transfers</a>
			<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
		<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/custom-htv-transfers/">Full Color Digital</a>
			</li>
		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" href="/custom-heat-transfer-dye-sublimation-transfers/">Custom Dye Sublimation Transfers</a>
			<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/custom-dye-sublimation-transfers/">Standard Dye Sublimation Transfers</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/custom-sticky-dye-sublimation-transfers/">Sticky Dye Sublimation Transfers</a>
			</li>
				<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/custom-dye-sublimation-transfers-with-blanks/">Transfers with Blanks</a>
			</li>
		</ul>
	</li>
	
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" href="/rhinestone-transfers/">Custom Rhinestone Transfers</a>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" href="/supacolor-heat-transfers/">Custom Screen Print Transfers</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/supacolor-wearables-transfer/">Supacolor Wearables Transfer</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/supacolor-sub-blocker-transfers/">Supacolor Sub Blocker Transfers</a>
			</li>
				<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/supacolor-soft-shell-blocker-transfer/">Supacolor Soft Shell Blocker Transfer</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/supacolor-headwear-transfer/">Supacolor Headwear Transfer</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/supacolor-promotional-transfers/">Supacolor Promotional Transfers</a>
			</li>
				<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/supacolor-promo-umbrellas-transfer/">Supacolor Promo Umbrellas Transfer</a>
			</li>
		</ul>	
	</li>
			
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" href="/full-color-digital-sign-decals/">Full Color Digital Sign Decals</a>
	</li>
</ul>
