<ul class="navPage-subMenu tier-2" data-level="1">
	{{#if show_back}}
		<li class="navPage-subMenu-item back">
			<a class="navPages-action" href="javascript:void(0)">
				{{> components/common/more-icon}} Back
			</a>
		</li>
	{{/if}}
	{{#if view_all_name}}
		<li class="navPage-subMenu-item">
			<a class="navPages-action" href="{{view_all_url}}">
				All {{view_all_name}}
			</a>
		</li>
	{{/if}}
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/siser-easyweed-htv/">Siser EasyWeed {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/siser-easyweed-htv-vinyl/">EasyWeed</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/siser-easyweed-stretch-htv/">EasyWeed Stretch</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/siser-easyweed-fluorescents/">EasyWeed Fluorescents</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/easyweed-electric/">EasyWeed Electric</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/easy-reflective-20-inch/">Siser Easy Reflective</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/siser-easyweed/">View All</a>
			</li>
		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/thermoflex/">ThermoFlex {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/thermoflex-plus/">Thermoflex Plus</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/thermoflex-stretch/">ThermoFlex Stretch</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/thermoflex-neons/">ThermoFlex Neons</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/thermoflex-plus-metallics/">Thermoflex Metallics</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/thermoflex-turbo-low-temp/">ThermoFlex Turbo Low Temp</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/thermoflex/">View All</a>
			</li>
		</ul>
    </li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/glitter-heat-transfer-vinyl/">Glitter HTV {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/siser-glitter-htv/">Siser Glitter HTV</a>
			</li>
				<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/siser-holographic-htv/">Siser Holographic</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/glitterflex/">GlitterFlex Ultra</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/siser-twinkle-glitter/">Siser Twinkle</a>
			</li>
			
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/glitter-heat-transfer-vinyl/">View All</a>
			</li>
			
		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/decorative-vinyl/">Decorative Vinyl {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/metallics/">Metallic</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/reflective-vinyl/">Reflective</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/patterned-vinyl/">Patterned Vinyl</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/flock/">Flock</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/foils-transfer-adhesives/">Foils & Adhesives</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/custom-patterns/">Custom Patterns</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/decorative-vinyl/">View All</a>
			</li>
		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/walakut/">WALAKut {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/walakut-express/">WALAKut-Express</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/walakut-soft/">WALAKut-Soft</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/walakut-metallic-htv/">WALAKut-Metallics</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/walakut-star-dust/">WALAKut-Star Dust</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/walakut/">View All</a>
			</li>
		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/chemica/">Chemica {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/galaxy-stretchable-glitter-vinyl/">Galaxy Stretchable Glitter</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/chemica-fashions/">Chemica Fashions</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/hotmark-revolution/">Hotmark Revolution Low Temp</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/chemica/">View All</a>
			</li>
		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/craft-vinyl/">Craft Vinyl {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/silhouette-cameo-heat-transfer-vinyl/">Silhouette Cameo HTV</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/cricut-heat-transfer-vinyl/">Cricut HTV</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/brother-scanncut-heat-transfer-vinyl/">Brother ScanNCut HTV</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/craft-vinyl/">View All</a>
			</li>
		</ul>
	</li>
</ul>
