
<ul class="navPage-subMenu tier-2">
	{{#if show_back}}
		<li class="navPage-subMenu-item back">
			<a class="navPages-action" href="javascript:void(0)">
				{{> components/common/more-icon}} Back
			</a>
		</li>
	{{/if}}
	{{#if view_all_name}}
		<li class="navPage-subMenu-item">
			<a class="navPages-action" href="{{view_all_url}}">
				All {{view_all_name}}
			</a>
		</li>
	{{/if}}
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/hotfix-rhinestones/">HotFix Rhinestones {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/rhinestones-ss06/">SS-06 Rhinestones</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/rhinestones-ss10/">SS-10 Rhinestones</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/rhinestones-ss16/">SS-16 Rhinestones</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/rhinestones-ss20/">SS-20 Rhinestones</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/bulk-hotfix-rhinestones/">Bulk Bag Rhinestones</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/hotfix-rhinestones/">View All</a>
			</li>
		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/rhinestone-templates/">Rhinestone Templates {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/rhinestone-masks/">Transfer Masks</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/template-flock/">Template Flock</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/rhinestone-tools/">Rhinestone Tools</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/rhinestone-templates/">View All</a>
			</li>
		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/rhinestone-tools/">Rhinestone Accessories {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/rhinestone-color-chart/">Color Chart</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/silhouette-connect/">Silhouette Connect</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/silhouette-studio-designer-edition-rhinestones-software/">Silhouette Designer Edition</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/rhinestone-tools/">View All</a>
			</li>
		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/rhinestone-transfers/">Stock Rhinestone Transfers {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/athletic-sport-rhinestone-transfers/">Athletic/Sport </a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/wedding-rhinestone-transfers/">Wedding</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/holiday-stock-rhinestone-transfers/">Holidays</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/rhinestone-transfers/">View All</a>
			</li>
		</ul>
	</li>
</ul>
