<section class="section clothing-categories">
    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/all-things-heat-transfer-vinyl-banner-01.jpg?t=1623706603&_ga=2.93000990.22532363.1623675567-885995832.1599745631"
        alt="Supacolor Transfers" class="center">
           <h1 style="font-family: BebasNeue_Regular; margin-left: 2%; font-size: 55px; color: black;">
        ALL THE HEAT TRANSFER VINYL [HTV] YOU COULD EVER WANT!
    </h1>
    <p style="text-align: left; font-family: arial; margin-left: 2%; font-size: 25px; color: black;">Heat Transfer Warehouse always has the newest products and the largest in stock selection of heat transfer vinyl products. If you are just starting out, it can be a little overwhelming. A few things to keep in mind when you are choosing a vinyl is the type of garment you are pressing on, the finish you want your design to have and how many colors you want in your design</p>
    <h1 style="font-family: BebasNeue_Regular; margin-left: 2%; font-size: 55px; color: black;">THE BASICS OF HTV</h1>

            <div
                style="display: inline-block; margin: 0px; width: 100%; background: linear-gradient(90deg, rgba(38,38,95,1) 0%, rgba(43,166,222,1) 64%, rgba(30,129,176,1) 100%); color: white; font-family: BebasNeue_Regular; font-size: 30px;">
                <p style="margin-left: 2%;">Care Instructions</p>
                <ul
                    style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 20px;">
                    <li>- Wait at least 24 hours before washing your freshly pressed garments</li>
                    <li>- No fabric softeners as it will weaken the adhesive</li>
                    <li>- For best results, wash inside out in cold and line dry your garments</li>
                </ul>
            </div>
                <div style="margin-bottom: 100px; display: inline-block; width: 100%; background: linear-gradient(90deg, rgba(152,30,37,1) 0%, rgba(240,91,44,1) 64%, rgba(225,58,22,1) 100%); color: white; font-family: BebasNeue_Regular; font-size: 30px;">
                <p style="margin-left: 2%;">Other Tips</p>
                <ul
                    style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 20px;">
                    <li>- Most HTV will need to have your design mirrored unless otherwise specified</li>
                    <li>- If you are unsure on what side to cut, peel a corner to reveal which side is the liner</li>
                    <li>- Always do a test cut on your HTV to ensure your settings and blade are ready to go</li>
                    <li>- Weed your design on a warm bottom heat press platen to speed up weeding</li>
                    <li>- For shiny polyester materials and coated polyester, use a damp cloth with rubbing alcohol and gently apply it to the area on the garment you want to apply your design. Allow it to dry and apply your material. This will allow the adhesive to better penetrate the garment</li>
                </ul>
                </div>
    <a href="https://www.heattransferwarehouse.com/siser-easyweed-12-inch/" target="_blank"><div
        style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
        <p style="margin-left: 2%; text-align: center">SISER EASYWEED</p>
        <ul style="list-style-type: none; color: white; font-family: arial;; margin-left: 2%; font-size: 30px;">
            <li><b>Temp:</b> 305F</li>
            <li><b>Time:</b> 10-15 Seconds</li>
            <li><b>Layerable:</b> Yes</li>
            <li><b>Fabrics:</b> Polyester, cotton,<br> poly/cotton blends</li>
            <li><b>Finish:</b> Semi-gloss</li>
        </ul>
    </div></a>
    <a href="https://www.heattransferwarehouse.com/thermoflex-plus-12/" target="_blank"><div
        style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
        <p style="margin-left: 2%; text-align: center;">THERMOFLEX PLUS</p>
        <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
            <li><b>Temp:</b> 330F</li>
            <li><b>Time:</b> 15 Seconds</li>
            <li><b>Layerable:</b> Yes</li>
            <li><b>Fabrics:</b> Cotton, linen, wool, lycra, spandex, polyester blends</li>
            <li><b>Finish:</b> Matte</li>
        </ul>
    </div></a>
        <a href="https://www.heattransferwarehouse.com/walakut-express-htv-12-inch/" target="_blank"><div
            style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
            <p style="margin-left: 2%; text-align: center">WALAKUT<br> EXPRESS</p>
            <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                <br>
                <li><b>Temp:</b> 250-302F</li>
                <li><b>Time:</b> 5 Seconds</li>
                <li><b>Layerable:</b> Yes</li>
                <li><b>Fabrics:</b> Polyester, cotton, elastan, or blends of these textiles</li>
                <li><b>Finish:</b> Matte</li>
            </ul>
        </div></a>
        <a href="https://www.heattransferwarehouse.com/thermoflex-turbo-low-temp-15-inch/" target="_blank"><div
            style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
            <p style="margin-left: 2%; text-align: center;">THERMOFLEX TURBO<br> LOW TEMP</p>
            <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                <li><b>Temp:</b> 365-300F</li>
                <li><b>Time:</b> 5 Seconds</li>
                <li><b>Layerable:</b> Yes</li>
                <li><b>Fabrics:</b> Cotton, polyester blends, nylon, acrylics, spandex, lycra, vinyl, genuine leather</li>
                <li><b>Finish:</b> Matte</li>
            </ul>
        </div></a>
            <a href="https://www.heattransferwarehouse.com/hotmark-revolution/" target="_blank"><div
                style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                <p style="margin-left: 2%; text-align: center">HOTMARK REVOLUTION</p>
                <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                    <br>
                    <br>
                    <li><b>Temp:</b> 230-285F</li>
                    <li><b>Time:</b> 20-25 Seconds</li>
                    <li><b>Layerable:</b> Yes</li>
                    <li><b>Fabrics:</b> Polyester, cotton, <br>nylon, acrylic</li>
                    <li><b>Finish:</b> Matte</li>
                </ul>
            </div></a>
           <a href="https://www.heattransferwarehouse.com/siser-easyweed-stretch-15-inch/" target="_blank"><div
                style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                <p style="margin-left: 2%; text-align: center;">SISER STRETCH</p>
                <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                    <li><b>Temp:</b> 305F</li>
                    <li><b>Time:</b> Pre-press 2 seconds, then 20 seconds</li>
                    <li><b>Layerable:</b> Yes</li>
                    <li><b>Fabrics:</b> 100% uncoated polyyester, poly/cotton blends, cotton, lycra, spandex, leather</li>
                    <li><b>Finish:</b> Matte</li>
                </ul>
            </div></a>
                <a href="https://www.heattransferwarehouse.com/siser-brick-600-10/" target="_blank"><div
                    style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                    <p style="margin-left: 2%; text-align: center">SISER BRICK</p>
                    <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                        <li><b>Temp:</b> 311F</li>
                        <li><b>Time:</b> Preheat 20 seconds, press 10 seconds, turn inside out for 20 seconds</li>
                        <li><b>Layerable:</b> No</li>
                        <li><b>Fabrics:</b> 100% cotton, poly/cotton blends, 100% uncoated polyester, lycra/spandex</li>
                        <li><b>Finish:</b> Matte</li>
                    </ul>
                </div></a>
                <a href="https://www.heattransferwarehouse.com/walakut-puff-10/" target="_blank"><div
                    style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                    <p style="margin-left: 2%; text-align: center;">WALAKUT PUFF</p>
                    <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                        <br>
                        <li><b>Temp:</b> 320F</li>
                        <li><b>Time:</b> 15 Seconds</li>
                        <li><b>Layerable:</b> Top Layer</li>
                        <li><b>Fabrics:</b> Cotton,<br> uncoated polyester,<br> fabric blends,<br> poly/acrylic</li>
                        <li><b>Finish:</b> Textured Puff</li>
                    </ul>
                </div></a>
                    <a href="https://www.heattransferwarehouse.com/siser-stripflock-pro-12-inch/" target="_blank"><div
                        style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                        <p style="margin-left: 2%; text-align: center">STRIPFLOCK PRO</p>
                        <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                            <li><b>Temp:</b> 311F</li>
                            <li><b>Time:</b> 10-15 Seconds, 10 second re-press if design lifts</li>
                            <li><b>Layerable:</b> Yes</li>
                            <li><b>Fabrics:</b> Polyester, cotton, poly/cotton blends, leather</li>
                            <li><b>Finish:</b> Suede Texture</li>
                        </ul>
                    </div></a>
                   <a href="https://www.heattransferwarehouse.com/siser-easyweed-fluorescents-12-inch/" target="_blank"><div
                        style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                        <p style="margin-left: 2%; text-align: center;">EASYWEED FLUORESENT</p>
                        <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                            <li><b>Temp:</b> 305F</li>
                            <li><b>Time:</b> 10-15 Seconds</li>
                            <li><b>Layerable:</b> Yes</li>
                            <li><b>Fabrics:</b> Polyester,<br> cotton,<br> poly/cotton blends</li>
                            <li><b>Finish:</b> Semi-gloss</li>
                        </ul>
                    </div></a>
                        <a href="https://www.heattransferwarehouse.com/glow-in-the-dark-easyweed-12/" target="_blank"><div
                            style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                            <p style="margin-left: 2%; text-align: center">SISER EASYWEED<br>GLOW IN THE DARK</p>
                            <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                                <li><b>Temp:</b> 305F</li>
                                <li><b>Time:</b> re-press 2 seconds, then 10-15 seconds</li>
                                <li><b>Layerable:</b> Yes</li>
                                <li><b>Fabrics:</b> 100% uncoated polyester, cotton, poly/cotton blends</li>
                                <li><b>Finish:</b>White in light, Semi-gloss</li>
                            </ul>
                        </div></a>
                        <a href="https://www.heattransferwarehouse.com/fashionflex-heat-color-changing-htv/" target="_blank"><div
                            style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                            <p style="margin-left: 2%; text-align: center;">FASHIONFLEX COLOR<br>CHANGING HTV</p>
                            <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                                <li><b>Temp:</b> 300F</li>
                                <li><b>Time:</b> 8-12 Seconds</li>
                                <li><b>Layerable:</b> Top Layer</li>
                                <li><b>Fabrics:</b> Cotton,<br> uncoated polyester,<br> fabric blends</li>
                                <li><b>Finish:</b> Matte</li>
                            </ul>
                        </div></a>
                            <a href="https://www.heattransferwarehouse.com/patterned-vinyl/" target="_blank"><div
                                style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                                <p style="margin-left: 2%; text-align: center">PATTERN HTV</p>
                                <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                                    <li><b>Temp:</b> 266-302F</li>
                                    <li><b>Time:</b> 5-10 Seconds</li>
                                    <li><b>Layerable:</b> Top Layer</li>
                                    <li><b>Fabrics:</b> Polyester, cotton, uncoated nylon, 50/50 blends</li>
                                    <li><b>Finish:</b> Semi-gloss</li>
                                </ul>
                            </div></a>
                            <a href="https://www.heattransferwarehouse.com/siser-glitter-htv-12-inch/" target="_blank"><div
                                style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                                <p style="margin-left: 2%; text-align: center;">SISER GLITTER</p>
                                <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                                    <li><b>Temp:</b> 320F</li>
                                    <li><b>Time:</b> 15 Seconds</li>
                                    <li><b>Layerable:</b> Top Layer</li>
                                    <li><b>Fabrics:</b> Cotton, polyester, fabric blends, spandex, lycra, wool, linen</li>
                                    <li><b>Finish:</b> Textured Glitter</li>
                                </ul>
                            </div></a>
                                <a href="https://www.heattransferwarehouse.com/siser-sparkle-HTV/" target="_blank"><div
                                    style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                                    <p style="margin-left: 2%; text-align: center">SISER SPARKLE</p>
                                    <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                                        <li><b>Temp:</b> 311F</li>
                                        <li><b>Time:</b> 15 Seconds</li>
                                        <li><b>Layerable:</b> Yes</li>
                                        <li><b>Fabrics:</b> Polyester, cotton, poly/cotton blends, elastic fabrics, spandex</li>
                                        <li><b>Finish:</b> Smooth glitter</li>
                                    </ul>
                                </div></a>
                                <a href="https://www.heattransferwarehouse.com/siser-twinkle-10/" target="_blank"><div
                                    style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                                    <p style="margin-left: 2%; text-align: center;">SISER TWINKLE</p>
                                    <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                                        <li><b>Temp:</b> 305F</li>
                                        <li><b>Time:</b> 15 Seconds</li>
                                        <li><b>Layerable:</b> Top Layer</li>
                                        <li><b>Fabrics:</b> Cotton, polyester, <br>poly/cotton blends</li>
                                        <li><b>Finish:</b> Smooth glitter</li>
                                    </ul>
                                </div></a>
                                    <a href="https://www.heattransferwarehouse.com/decofilm-soft-metallics-12/" target="_blank"><div
                                        style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                                        <p style="margin-left: 2%; text-align: center">DECOFILM SOFT<br>METALLICS</p>
                                        <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                                            <li><b>Temp:</b> 302-320F</li>
                                            <li><b>Time:</b> 7-8 Seconds</li>
                                            <li><b>Layerable:</b> Top Layer</li>
                                            <li><b>Fabrics:</b> Cotton, uncoated polyester, fabric blends, poly/acrylic</li>
                                            <li><b>Finish:</b> Smooth, Soft Metallic</li>
                                        </ul>
                                    </div></a>
                                    <a href="https://www.heattransferwarehouse.com/decofilm-soft-metallics-patterns/" target="_blank"><div
                                        style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                                        <p style="margin-left: 2%; text-align: center;">DECOFILM SOFT<br>METALLICS PATTERNS</p>
                                        <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                                            <li><b>Temp:</b> 302-320F</li>
                                            <li><b>Time:</b> 7-8 Seconds</li>
                                            <li><b>Layerable:</b> Top Layer</li>
                                            <li><b>Fabrics:</b> Cotton, uncoated polyester, fabric blends, poly/acrylic</li>
                                            <li><b>Finish:</b> Smooth, Soft Metallic</li>
                                        </ul>
                                    </div></a>
                                        <a href="https://www.heattransferwarehouse.com/siser-holographic/" target="_blank"><div
                                            style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                                            <p style="margin-left: 2%; text-align: center">SISER HOLOGRAPHIC</p>
                                            <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                                                <li><b>Temp:</b> 320F</li>
                                                <li><b>Time:</b> 15 Seconds</li>
                                                <li><b>Layerable:</b> Yes</li>
                                                <li><b>Fabrics:</b> Polyester, cotton, poly/cotton blends, leather</li>
                                                <li><b>Finish:</b> Glossy</li>
                                            </ul>
                                        </div></a>
                                        <a href="https://www.heattransferwarehouse.com/siser-metal-htv-20-inch/" target="_blank"><div
                                            style="border-radius: 40px; display: inline-block; margin: 20px; width: 45%; height: 600px; min-width: 400px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
                                            <p style="margin-left: 2%; text-align: center;">SISER METAL</p>
                                            <ul style="list-style-type: none; color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
                                                <li><b>Temp:</b> 305F</li>
                                                <li><b>Time:</b> 10-15 Seconds</li>
                                                <li><b>Layerable:</b> No</li>
                                                <li><b>Fabrics:</b> Cotton, polyester, poly/cotton blends, leather, sublimated polyester</li>
                                                <li><b>Finish:</b> Smooth Metallic</li>
                                            </ul>
                                        </div></a>
</section>
