<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/dadgrillbanner.png?t=1651077401&_gl=1*joro38*_ga*MTc2NjI3MzEyOS4xNjQ2NzczNTYy*_ga_WS2VZYPC6G*MTY1MTA3NTk4MS43OS4xLjE2NTEwNzc0MTAuNjA."
                    alt="Dye Sublimation">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Dad Grilling Bundle</strong></h3>
                    <a href="/dad-grilling-svg-bundle/"
                        class="button button--outline button--large clr-white">Shop Project Bundle</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/fathersdaysupas.png?t=1651077225&_gl=1*joro38*_ga*MTc2NjI3MzEyOS4xNjQ2NzczNTYy*_ga_WS2VZYPC6G*MTY1MTA3NTk4MS43OS4xLjE2NTEwNzc0MTAuNjA."
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Stock Supacolors</strong></h3>
                    <a href="/fathers-day-supacolor-transfers/" class="button button--outline button--large clr-white">Shop Supacolor</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/dadbagbanner.png?t=1651077400&_gl=1*joro38*_ga*MTc2NjI3MzEyOS4xNjQ2NzczNTYy*_ga_WS2VZYPC6G*MTY1MTA3NTk4MS43OS4xLjE2NTEwNzc0MTAuNjA."
                    alt="Specialty Heat Transfer Vinyl">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Dad On the Go Bundle</strong></h3>
                    <a href="/dad-on-the-go-svg-bundle/"
                        class="button button--outline button--large clr-white">Shop Project Bundle</a>
                </div>
            </div>
        </div>
    </div>
</section>
