<section class="section{{#if background} stretch-full{{/if}}"{{#if background} style="background-color: background;"{{/if}} data-category="{{category}}" data-ajax-url="{{category_url}}">
	<h2 class="section-title">{{category}}</h2>
	<div class="productCarousel">
		<div class="productCarousel-slide">
			<article class="card" data-entity-id="690">
				<figure class="card-figure">
					<a href="/siser-easyweed-12-inch/">
						<div class="card-img-container">
							<img class="card-image lazyautosizes lazyloaded" data-sizes="auto"
								src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/500x659/products/690/7417/Siser_EasyWeed__43327.1577113743.jpg?c=2"
								data-src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/500x659/products/690/7417/Siser_EasyWeed__43327.1577113743.jpg?c=2"
								alt="" title="" sizes="273px">
							<div class="shine"></div>
						</div>
					</a>
				</figure>
				<div class="card-body">
					<p class="card-text" data-test-info-type="brandName">Siser</p>
					<h4 class="card-title">
						<a href="/siser-easyweed-12-inch/">Siser EasyWeed 12''</a>
					</h4>
					<div class="card-text" data-test-info-type="price">
						<div class="price-section price-section--withoutTax">
							<span data-product-price-without-tax="" class="price price--withoutTax">$8.00 - $263.00</span>
						</div>
					</div>
				</div>
			</article>
		</div>
		<div class="productCarousel-slide">
			<article class="card" data-entity-id="691">
				<figure class="card-figure">
					<a href="/siser-easyweed-12-sheet/">
						<div class="card-img-container">
							<img class="card-image lazyautosizes lazyloaded" data-sizes="auto"
								src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/500x659/products/691/7497/Siser_EasyWeed_12_inch_Sheets_2-06__25337.1577996745.jpg?c=2"
								data-src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/500x659/products/691/7497/Siser_EasyWeed_12_inch_Sheets_2-06__25337.1577996745.jpg?c=2"
								alt="" title="" sizes="273px">
							<div class="shine"></div>
						</div>
					</a>
				</figure>
				<div class="card-body">
					<p class="card-text" data-test-info-type="brandName">Siser</p>
					<h4 class="card-title">
						<a href="/siser-easyweed-12-sheet/">Siser EasyWeed 12" - Sheet</a>
					</h4>
					<div class="card-text" data-test-info-type="price">
							<span data-product-price-without-tax="" class="price price--withoutTax">$3.25</span>
						</div>
					</div>
				</div>
			</article>
		</div>
		<div class="productCarousel-slide">
			<article class="card" data-entity-id="195">
				<figure class="card-figure">
					<a href="/siser-easyweed-heat-transfer-vinyl-15-inch/">
						<div class="card-img-container">
							<img class="card-image lazyautosizes lazyloaded" data-sizes="auto"
								src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/500x659/products/195/7419/Siser_EasyWeed__74022.1577113842.jpg?c=2"
								data-src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/500x659/products/195/7419/Siser_EasyWeed__74022.1577113842.jpg?c=2"
								alt="" title="" sizes="273px">
							<div class="shine"></div>
						</div>
					</a>
				</figure>
				<div class="card-body">
					<p class="card-text" data-test-info-type="brandName">Siser</p>
					<h4 class="card-title">
						<a href="/siser-easyweed-heat-transfer-vinyl-15-inch/">Siser EasyWeed 15"</a>
					</h4>
					<div class="card-text" data-test-info-type="price">
						<div class="price-section price-section--withoutTax">
							<span data-product-price-without-tax="" class="price price--withoutTax">$8.00 - $300.00</span>
						</div>
					</div>
				</div>
			</article>
		</div>
		<div class="productCarousel-slide">
			<article class="card" data-entity-id="700">
				<figure class="card-figure">
					<a href="/thermoflex-plus-15/">
						<div class="card-img-container">
							<img class="card-image lazyautosizes lazyloaded" data-sizes="auto"
								src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/500x659/products/700/7450/ThermoFlex_Plus-04__39510.1577135457.jpg?c=2"
								data-src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/500x659/products/700/7450/ThermoFlex_Plus-04__39510.1577135457.jpg?c=2"
								alt="" title="" sizes="273px">
							<div class="shine"></div>
						</div>
					</a>
				</figure>
				<div class="card-body">
					<p class="card-text" data-test-info-type="brandName">ThermoFlex</p>
					<h4 class="card-title">
						<a href="/thermoflex-plus-15/">ThermoFlex Plus 15"</a>
					</h4>
					<div class="card-text" data-test-info-type="price">
						<div class="price-section price-section--withoutTax">
							<span data-product-price-without-tax="" class="price price--withoutTax">$9.00 - $300.00</span>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>
