<nav class="navPages">
	<ul class="navPages-list">
		<li class="navPages-item">
			<a class="navPages-action has-subMenu" href="/heat-transfer-vinyl/">HTV</a>
			<div class="dropdown megamenu">
				<div class="navPage-subMenu-container">
					{{> components/common/megamenu/sliders/heat-transfer-vinyl show_back=true view_all_url='/heat-transfer-vinyl/' view_all_name='Heat Transfer Vinyl'}}
				</div>
				<div class="navPage-brands-container" style="z-index: 1; position: relative;">
					{{> components/common/megamenu/popular-brands/heat-transfer-vinyl}}
				</div>
				<div class="style-img-container" style="z-index: 2; position: relative;">
					<a href="/heat-transfer-vinyl/">
						<img class="style-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/htv-megamenu2022-update.png" alt="htv - heat transfer vinyl ">
					</a>
				</div>
				<div class="cover"></div>
			</div>
		</li>
		<li class="navPages-item">
			<a class="navPages-action has-subMenu" href="/blanks/">Blanks</a>
			<div class="dropdown megamenu">
				<div class="navPage-subMenu-container">
					{{> components/common/megamenu/sliders/blanks show_back=true view_all_url='/blanks/' view_all_name='Blanks'}}
				</div>
				<div class="navPage-brands-container" style="z-index: 1; position: relative;">
					{{> components/common/megamenu/popular-brands/blanks}}
				</div>
				<div class="style-img-container" style="z-index: 2; position: relative;">
					<a href="/drinkware/">
						<img class="style-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/blanks-megamenu.png" alt="Sublimation Blanks">
					</a>
				</div>
				<div class="cover"></div>
			</div>
		</li>
		<li class="navPages-item">
			<a class="navPages-action has-subMenu" href="/heat-transfer-vinyl-equipment/">Equipment</a>
			<div class="dropdown megamenu">
				<div class="navPage-subMenu-container">
					{{> components/common/megamenu/sliders/equipment show_back=true view_all_url='/heat-transfer-vinyl-equipment/' view_all_name='Equipment'}}
				</div>
				<div class="navPage-brands-container" style="z-index: 1; position: relative;">
					{{> components/common/megamenu/popular-brands/equipment}}
				</div>
				<div class="style-img-container" style="z-index: 2; position: relative;">
					<a href="/walapress-heat-presses/">
						<img class="style-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/equipment-megamenu-update.png" alt="Equipment - Heat Presses, Vinyl Cutters, Sublimtion and more">
					</a>
				</div>
				<div class="cover"></div>
			</div>
		</li>
		<li class="navPages-item">
			<a class="navPages-action has-subMenu" href="/printable-heat-transfer-vinyl/">Printables</a>
			<div class="dropdown megamenu">
				<div class="navPage-subMenu-container">
					{{> components/common/megamenu/sliders/printables show_back=true view_all_url='/printable-heat-transfer-vinyl/' view_all_name='Printables'}}
				</div>
				<div class="navPage-brands-container" style="z-index: 1; position: relative;">
					{{> components/common/megamenu/popular-brands/printables}}
				</div>
				<div class="style-img-container" style="z-index: 2; position: relative;">
					<a href="/wide-format-printables/">
						<img class="style-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/printable-megamenu-update.png" alt="printable htv">
					</a>
				</div>
				<div class="cover"></div>
			</div>
		</li>
		<li class="navPages-item">
			<a class="navPages-action has-subMenu" href="/adhesive-vinyl/">Adhesive Vinyl</a>
			<div class="dropdown megamenu">
				<div class="navPage-subMenu-container">
					{{> components/common/megamenu/sliders/sign-making show_back=true view_all_url='/adhesive-vinyl/' view_all_name='Adhesive & Craft Vinyl'}}
				</div>
				<div class="navPage-brands-container" style="z-index: 1; position: relative;">
					{{> components/common/megamenu/popular-brands/sign-making}}
				</div>
				<div class="style-img-container" style="z-index: 2; position: relative;">
					<a href="/siser-easypsv/">
						<img class="style-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/adhesive-megamenu.png" alt="adhesive and craft vinyl">
					</a>
				</div>
				<div class="cover"></div>
			</div>
		</li>
		<li class="navPages-item">
			<a class="navPages-action has-subMenu" href="/dye-sublimation/">Sublimation</a>
			<div class="dropdown megamenu">
				<div class="navPage-subMenu-container">
					{{> components/common/megamenu/sliders/dye-sublimation show_back=true view_all_url='/dye-sublimation/' view_all_name='Dye Sublimation'}}
				</div>
				<div class="navPage-brands-container" style="z-index: 1; position: relative;">
					{{> components/common/megamenu/popular-brands/dye-sublimation}}
				</div>
				<div class="style-img-container" style="z-index: 2; position: relative;">
					<a href="/dye-sublimation/">
						<img class="style-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/sublimation-megamenu.png" alt="dye dublimation">
					</a>
				</div>
				<div class="cover"></div>
			</div>
		</li>
		<li class="navPages-item">
			<a class="navPages-action has-subMenu" href="/rhinestones/">Rhinestones</a>
			<div class="dropdown megamenu">
				<div class="navPage-subMenu-container">
					{{> components/common/megamenu/sliders/rhinestones show_back=true view_all_url='/rhinestones/' view_all_name='Rhinestones'}}
				</div>
				<div class="navPage-brands-container" style="z-index: 1; position: relative;">
					{{> components/common/megamenu/popular-brands/rhinestones}}
				</div>
				<div class="style-img-container" style="z-index: 2; position: relative;">
					<a href="/rhinestone-transfers/">
						<img class="style-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/rhinestone-megamenu-update.png" alt="rhinestones and rhinestone transfers">
					</a>
				</div>
				<div class="cover"></div>
			</div>
		</li>
		<li class="navPages-item">
			<a class="navPages-action has-subMenu" href="/clothing/">Clothing</a>
			<div class="dropdown megamenu">
				<div class="navPage-subMenu-container">
					{{> components/common/megamenu/sliders/clothing show_back=true view_all_url='/clothing/' view_all_name='Clothing'}}
				</div>
				<div class="navPage-brands-container" style="z-index: 1; position: relative;">
					{{> components/common/megamenu/popular-brands/clothing}}
				</div>
				<div class="style-img-container" style="z-index: 2; position: relative;">
					<a href="/mens-t-shirts/">
						<img class="style-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/clothing-megamenu2022.png" alt="wholesale clothing">
					</a>
				</div>
				<div class="cover"></div>
			</div>
		</li>
		<li class="navPages-item">
			<a class="navPages-action has-subMenu" href="/custom-transfers/">Custom Transfers</a>
			<div class="dropdown megamenu">
				<div class="navPage-subMenu-container">
					{{> components/common/megamenu/sliders/custom-transfers show_back=true view_all_url='/custom-transfers/' view_all_name='Custom Transfers'}}
				</div>
				<div class="navPage-brands-container" style="z-index: 1; position: relative;">
					{{> components/common/megamenu/popular-brands/custom-transfers}}
				</div>
				<div class="style-img-container" style="z-index: 2; position: relative;">
					<a href="/supacolor-custom-screen-print-transfers/">
						<img class="style-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/custom-megamenu.png" alt="custom transfers">
					</a>
				</div>
				<div class="cover"></div>
			</div>
		</li>
		
		<li class="navPages-item">
			<a class="navPages-action has-subMenu" href="/accessories/">Accessories</a>
			<div class="dropdown megamenu">
				<div class="navPage-subMenu-container">
					{{> components/common/megamenu/sliders/accessories show_back=true view_all_url='/accessories/' view_all_name='Accessories'}}
				</div>
				<div class="navPage-brands-container" style="z-index: 1; position: relative;">
					{{> components/common/megamenu/popular-brands/accessories}}
				</div>
				<div class="style-img-container" style="z-index: 2; position: relative;">
					<a href="/accessories/">
						<img class="style-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/accessories-megamenu2022.png" alt="htv and vinyl accessories">
					</a>
				</div>
				<div class="cover"></div>
			</div>
		</li>
		<li class="navPages-item">
			<a class="navPages-action has-subMenu" href="/education/">Resources</a>
			<div class="dropdown megamenu">
				<div class="navPage-edu-container">
					{{> components/common/megamenu/education}}
				</div>
				<div class="style-img-container" style="z-index: 2; position: relative;">
					<a href="/svg-artwork/">
						<img class="style-img"
							 src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/resources.jpg"
							 alt="htv and vinyl accessories">
					</a>
				</div>
				<div class="cover"></div>
			</div>
	    </li>
		<!--<li class="navPages-item">-->
		<!--	<a class="navPages-action" href="/whats-new/">New <span class="bullet clr-blue" aria-hidden="true">&bull;</span></a>-->
		<!--</li>-->
		<li class="navPages-item">
			<a class="navPages-action" href="/sale/">Sale</a>
		</li>
	</ul>
</nav>
