<div class="navPage-subMenu" id="navCategories" aria-hidden="true" tabindex="-1">
	<ul class="navPage-subMenu-list tier-1">
		<li class="navPage-subMenu-item active">
			<a class="navPage-subMenu-action navPages-action has-subMenu" href="/heat-transfer-vinyl/">Heat Transfer Vinyl {{> components/common/more-icon}}</a>
			{{> components/common/menu/heat-transfer-vinyl}}
		</li>
		<li class="navPage-subMenu-item">
			<a class="navPage-subMenu-action navPages-action has-subMenu" href="/heat-transfer-vinyl-equipment/">Equipment {{> components/common/more-icon}}</a>
			{{> components/common/menu/equipment}}
		</li>
		<li class="navPage-subMenu-item">
			<a class="navPage-subMenu-action navPages-action has-subMenu" href="/printable-heat-transfer-vinyl/">Printable Vinyl {{> components/common/more-icon}}</a>
			{{> components/common/menu/printables}}
		</li>
		<li class="navPage-subMenu-item">
			<a class="navPage-subMenu-action navPages-action has-subMenu" href="/dye-sublimation/">Dye Sublimation {{> components/common/more-icon}}</a>
			{{> components/common/menu/dye-sublimation}}
		</li>
		<li class="navPage-subMenu-item">
			<a class="navPage-subMenu-action navPages-action has-subMenu" href="/rhinestones/">Rhinestones {{> components/common/more-icon}}</a>
			{{> components/common/menu/rhinestones}}
		</li>
		<li class="navPage-subMenu-item">
			<a class="navPage-subMenu-action navPages-action has-subMenu" href="/custom-transfers/">Custom Transfers {{> components/common/more-icon}}</a>
			{{> components/common/menu/custom-transfers}}
		</li>
		<li class="navPage-subMenu-item">
			<a class="navPage-subMenu-action navPages-action has-subMenu" href="/blanks/">Blanks {{> components/common/more-icon}}</a>
			{{> components/common/menu/blanks}}
		</li> 
		<li class="navPage-subMenu-item">
			<a class="navPage-subMenu-action navPages-action has-subMenu" href="/adhesive-vinyl/">Adhesive & Craft Vinyl {{> components/common/more-icon}}</a>
			{{> components/common/menu/sign-making}}
		</li>
		<li class="navPage-subMenu-item">
			<a class="navPage-subMenu-action navPages-action has-subMenu" href="/accessories/">Accessories {{> components/common/more-icon}}</a>
			{{> components/common/menu/accessories}}
		</li>
		<li class="navPage-subMenu-item">
			<a class="navPage-subMenu-action navPages-action" href="/sale/">Sale</a>
		<!--	{{> components/common/menu/sale}} -->
		</li>
	<!--	<li class="navPage-subMenu-item">
			<a class="navPage-subMenu-action navPages-action" href="/whats-new/">What's New</a>
		</li> -->
		<li class="navPage-subMenu-item clothing">
			<a class="navPage-subMenu-action navPages-action" href="https://heattransferwarehouse.com" target="_blank">Clothing <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-launch"></use></svg></i></a>
		</li>
	</ul>
</div>
