<section class="section clothing-popular-brands">
	<h2 class="section-title"><strong>Popular brands</strong></h2>
    <p class="section-intro"></p>
	<div class="flex-grid">
		<div class="grid-item xs-6 sm-3 md-2">
            <a href="/nike/">
                <div class="img-container">
                    <img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/nike.png?t=1600291385&_ga=2.230063260.1618416250.1600087908-1098918792.1573072587">
                </div>
                <h4 class="home-category-banner"><strong>Nike</strong></h4>
            </a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
            <a href="/bella-canvas/">
                <div class="img-container">
                    <img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/bella-and-canvas.png?t=1600291381&_ga=2.138752435.1618416250.1600087908-1098918792.1573072587">
                </div>
                <h4 class="home-category-banner"><strong>Bella and Canvas</strong></h4>
            </a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
            <a href="/port-company/">
                <div class="img-container">
                    <img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/port-and-company.png?t=1600291386&_ga=2.230063260.1618416250.1600087908-1098918792.1573072587">
                </div>
                <h4 class="home-category-banner"><strong>Port and Company</strong></h4>
            </a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
            <a href="/gildan/">
                <div class="img-container">
                    <img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/gildan.png?t=1600291383&_ga=2.171342112.1618416250.1600087908-1098918792.1573072587">
                </div>
                <h4 class="home-category-banner"><strong>Gildan</strong></h4>
            </a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
            <a href="/district/">
                <div class="img-container">
                    <img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/district.png?t=1600291382&_ga=2.168121633.1618416250.1600087908-1098918792.1573072587">
                </div>
                <h4 class="home-category-banner"><strong>District</strong></h4>
            </a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
            <a href="/clothing-brands/">
                <div class="img-container">
                    <img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/blue-shop-all-01.png?t=1600466115&_ga=2.253075145.1994548839.1607965880-1098918792.1573072587">
                </div>
                <h4 class="home-category-banner"><strong></strong></h4>
            </a>
		</div>
	</div>
</section>

