<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/original/image-manager/holiday-patterned-htv.jpg?t=1661888730&_gl=1*3tro5i*_ga*MTU0MjM1NTkwMC4xNjI3OTk5Mzk3*_ga_WS2VZYPC6G*MTY2MTg4MTM0OC43MDEuMS4xNjYxODg4NzMxLjM2LjAuMA.."
                    alt="Shop Holiday Patterned HTV">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Holiday Patterned HTV</strong></h3>
                    <p>Wide selection of Holiday Patterned HTV</p>
                    <a href="/holidays-patterned-vinyl/"
                        class="button button--outline button--large clr-white">Shop Holiday Patterned HTV</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/original/image-manager/shop-holiday-rhinestone-transfers.jpg?t=1661889535&_gl=1*cm4pya*_ga*MTU0MjM1NTkwMC4xNjI3OTk5Mzk3*_ga_WS2VZYPC6G*MTY2MTg4MTM0OC43MDEuMS4xNjYxODg5NDEwLjIwLjAuMA.."
                    alt="Shop Holiday Rhinestone Transfers">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Holiday Rhinestone Transfers</strong></h3>
                    <p>Wide selection of Holiday Rhinestone Transfers</p>
                    <a href="/holiday-stock-rhinestone-transfers/" class="button button--outline button--large clr-white">Shop Holiday Rhinestone Transfers</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
            src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-wblanks-1-.jpg?t=1620934809&_ga=2.87932560.907421027.1620643288-1098918792.1573072587"
                    alt="Shop Holiday Supacolor Trasnsfers">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Holiday Supacolor Trasnsfers</strong></h3>
                    <p>Wide selection of Holiday Supacolor Trasnsfers</p>
                    <a href="/holidays/"
                        class="button button--outline button--large clr-white">Shop Holiday Supacolor Trasnsfers</a>
                </div>
            </div>
        </div>
    </div>
</section>
