<ul class="navPage-subMenu tier-2">
	{{#if show_back}}
	<li class="navPage-subMenu-item back">
		<a class="navPages-action" href="javascript:void(0)">
			{{> components/common/more-icon}} Back
		</a>
	</li>
	{{/if}}
	{{#if view_all_name}}
	<li class="navPage-subMenu-item">
		<a class="navPages-action" href="{{view_all_url}}">
			All {{view_all_name}}
		</a>
	</li>
	{{/if}}
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
			href="/cutter-accessories/">Cutter Accessories {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
			<li class="navPage-childList-item back">
				<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
					{{> components/common/more-icon}} Back
				</a>
			</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/plotter-blades/">Plotter Blades</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/silhouette-cameo-accessories/">Silhouette
					Cameo Accessories</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/brother-accessories/">Brother Accessories</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/cutter-accessories/">View All</a>
			</li>

		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
			href="/heat-press-accessories/">Heat Press Accessories {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
			<li class="navPage-childList-item back">
				<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
					{{> components/common/more-icon}} Back
				</a>
			</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action"
					href="/heat-press-accessories/?_bc_fsnf=1&Type=Platens">Heat Press Platens</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/hotronix-cap-platens/">Cap Heat Press
					Platens</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/heat-press-heated-power-platen/">Heat Press
					Power Platen</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/platen-covers/">Heat Press Platen Covers</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/heat-press-sheets/">Heat Press Sheets</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/heat-press-pillows/">Heat Press Pillows</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/heat-press-accessories/">View All</a>
			</li>

		</ul>
	</li>

	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/tools/">Tools
			{{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
			<li class="navPage-childList-item back">
				<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
					{{> components/common/more-icon}} Back
				</a>
			</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/tools/?_bc_fsnf=1&Type=Blades">Blades</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/tools/?_bc_fsnf=1&Type=Mats">Mats</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/tools/">View All</a>
			</li>
		</ul>
	</li>

	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
			href="/application-tools/">Application Tools {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
			<li class="navPage-childList-item back">
				<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
					{{> components/common/more-icon}} Back
				</a>
			</li>
			{{/if}}

			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/heat-transfer-vinyl-remover-6-oz/">HTV
					Remover 6oz</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/dye-sub-tack-spray/">Dye Sub Tack Spray</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/go-fuze-sublimation-to-cotton-solution-13x19-kit/">GO FUZE™ Sublimation to Cotton Solution</a>
			</li>			
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/application-tools/">View All</a>
			</li>
		</ul>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action" data-level="1" href="/weeding-tools/">Weeding Tools</a>
	</li>
</ul>
</li>
