
<ul class="navPage-subMenu tier-2">
	{{#if show_back}}
		<li class="navPage-subMenu-item back">
			<a class="navPages-action" href="javascript:void(0)">
				{{> components/common/more-icon}} Back
			</a>
		</li>
	{{/if}}
	{{#if view_all_name}}
		<li class="navPage-subMenu-item">
			<a class="navPages-action" href="{{view_all_url}}">
				All {{view_all_name}}
			</a>
		</li>
	{{/if}}
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" href="/supacolor-custom-screen-print-transfers/">Custom Screen Print Transfers</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/supacolor-designer/">Order Supacolor</a>
			</li>	
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/screen-print-transfers-heat-press-transfers/">Supacolor Sample Pack</a>
			</li>	
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/stock-supacolor-transfers/">Stock Supacolor Transfers</a>
			</li>			
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/supacolor-wearables-screen-print-transfer/">Supacolor Wearables</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/supacolor-sub-blocker-screen-print-transfers/">Supacolor Blocker</a>
			</li>
				<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/supacolor-soft-shell-blocker-screen-print-transfer/">Supacolor Soft Shell Blocker</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/supacolor-headwear-screen-print-transfer/">Supacolor Headwear</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/supacolor-promotional-screen-print-transfers/">Supacolor Promotional</a>
			</li>
		</ul>	
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" href="/stock-supacolor-transfers/">Stock Supacolor Transfers</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/holidays/">Holidays</a>
			</li>	
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/graduation/">Graduation</a>
			</li>	
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/causes/">Causes</a>
			</li>	
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/sports/">Sports</a>
			</li>			
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/outdoors-hunting/">Outdoors/Hunting</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/coming-soon/">COMING SOON!</a>
			</li>			
		</ul>
	</li>		
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" href="/custom-printed-htv-transfers/">Custom Heat Transfers</a>
			<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
		<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/custom-printed-heat-transfers-small-left-chest/">Small/Left Chest Custom Printed Heat Transfers</a>
			</li>
		<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/custom-printed-heat-transfers-full-front-back/">Full Front/Back Custom Printed Heat Transfers</a>
			</li>
		<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/custom-printed-heat-transfers-sleeve-pants/">Sleeve/Pants Custom Printed Heat Transfers</a>
			</li>			
		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" href="/custom-heat-transfer-dye-sublimation-transfers/">Custom Dye Sublimation Transfers</a>
			<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/custom-dye-sublimation-transfers/">Standard Dye Sublimation Transfers</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/custom-sticky-dye-sublimation-transfers/">Sticky Dye Sublimation Transfers</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/walasub-patterns/">WALASub Patterns</a>
			</li>			
		</ul>
	</li>
	
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" href="">Custom Rhinestone Transfers</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/custom-rhinestone-words/">Custom Rhinestone Words </a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/custom-rhinestones-set-up-fee/">Custom Rhinestone Set-Up Fee </a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/rhinestone-calculator/">Rhinestone Calculator </a>
			</li>
		</ul>
	</li>
			
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" href="/custom-transfer-stickers/">Full Color Digital Sign Decals</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/custom-transfer-stickers/">Custom Transfer Stickers</a>
			</li>
		</ul>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" href="/artwork-redraws-and-vector-conversion-service/">Artwork Redraws and Vector Conversion Service</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/artwork-redraws-and-vector-conversion-service/">Artwork Redraws and Vector Conversion Service</a>
			</li>
		</ul>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" href="/now-offering-fulfillment/">Custom Shirts/Fulfillment</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/now-offering-fulfillment/">Custom Shirts/Fulfillment</a>				
			</li>
		</ul>
	</li>
</ul>
