<ul class="navPage-subMenu tier-2">
    {{#if show_back}}
    <li class="navPage-subMenu-item back">
        <a class="navPages-action" href="javascript:void(0)">
            {{> components/common/more-icon}} Back
        </a>
    </li>
    {{/if}}
    {{#if view_all_name}}
    <li class="navPage-subMenu-item">
        <a class="navPages-action" href="{{view_all_url}}">
            All {{view_all_name}}
        </a>
    </li>
    {{/if}}
    <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
            href="/blog/">Blogs </a>
        <!--<ul class="navPage-childList tier-3">-->
        <!--    {{#if show_back}}-->
        <!--    <li class="navPage-childList-item back">-->
        <!--        <a class="navPage-childList-action navPages-action" href="javascript:void(0)">-->
        <!--            {{> components/common/more-icon}} Back-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    {{/if}}-->
        <!--    <li class="navPage-childList-item">-->
        <!--        <a class="navPage-childList-action navPages-action" href="/plotter-blades/">Plotter Blades</a>-->

        <!--</ul>-->
    </li>
    <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
            href="/videos/">Videos</a>
        <!--<ul class="navPage-childList tier-3">-->
        <!--    {{#if show_back}}-->
        <!--    <li class="navPage-childList-item back">-->
        <!--        <a class="navPage-childList-action navPages-action" href="javascript:void(0)">-->
        <!--            {{> components/common/more-icon}} Back-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    {{/if}}-->
        <!--    <li class="navPage-childList-item">-->
        <!--        <a class="navPage-childList-action navPages-action"-->
        <!--            href="/heat-press-accessories/?_bc_fsnf=1&Type=Platens">Heat Press Platens</a>-->
        <!--    </li>-->
        <!--</ul>-->
    </li>

    <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/edu-quick-tips/">Hobby and Crafts
            </a>
        <!--<ul class="navPage-childList tier-3">-->
        <!--    {{#if show_back}}-->
        <!--    <li class="navPage-childList-item back">-->
        <!--        <a class="navPage-childList-action navPages-action" href="javascript:void(0)">-->
        <!--            {{> components/common/more-icon}} Back-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    {{/if}}-->
        <!--    <li class="navPage-childList-item">-->
        <!--        <a class="navPage-childList-action navPages-action" href="/weeding-tools/">Weeding Tools</a>-->
        <!--    </li>-->
        <!--</ul>-->
    </li>

    <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
            href="/edu-business-101/">Business 101 </a>
        <!--<ul class="navPage-childList tier-3">-->
        <!--    {{#if show_back}}-->
        <!--    <li class="navPage-childList-item back">-->
        <!--        <a class="navPage-childList-action navPages-action" href="javascript:void(0)">-->
        <!--            {{> components/common/more-icon}} Back-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    {{/if}}-->

        <!--    <li class="navPage-childList-item">-->
        <!--        <a class="navPage-childList-action navPages-action" href="/htw-weeding-kit/">HTV Weeding Kit</a>-->
        <!--    </li>-->
        <!--</ul>-->
    </li>

    <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
            href="/edu-custom-transfers-landing-page/">Custom Transfers </a>
        <!--<ul class="navPage-childList tier-3">-->
        <!--    {{#if show_back}}-->
        <!--    <li class="navPage-childList-item back">-->
        <!--        <a class="navPage-childList-action navPages-action" href="javascript:void(0)">-->
        <!--            {{> components/common/more-icon}} Back-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    {{/if}}-->

        <!--    <li class="navPage-childList-item">-->
        <!--        <a class="navPage-childList-action navPages-action" href="/htw-weeding-kit/">HTV Weeding Kit</a>-->
        <!--    </li>-->
        <!--</ul>-->
    </li>

    <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
            href="/edu-all-about-htv/">All About HTV </a>
        <!--<ul class="navPage-childList tier-3">-->
        <!--    {{#if show_back}}-->
        <!--    <li class="navPage-childList-item back">-->
        <!--        <a class="navPage-childList-action navPages-action" href="javascript:void(0)">-->
        <!--            {{> components/common/more-icon}} Back-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    {{/if}}-->

        <!--    <li class="navPage-childList-item">-->
        <!--        <a class="navPage-childList-action navPages-action" href="/htw-weeding-kit/">HTV Weeding Kit</a>-->
        <!--    </li>-->
        <!--</ul>-->
    </li>

    <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
            href="/edu-sizing-guides/">Size Guide </a>
        <!--<ul class="navPage-childList tier-3">-->
        <!--    {{#if show_back}}-->
        <!--    <li class="navPage-childList-item back">-->
        <!--        <a class="navPage-childList-action navPages-action" href="javascript:void(0)">-->
        <!--            {{> components/common/more-icon}} Back-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    {{/if}}-->

        <!--    <li class="navPage-childList-item">-->
        <!--        <a class="navPage-childList-action navPages-action" href="/htw-weeding-kit/">HTV Weeding Kit</a>-->
        <!--    </li>-->
        <!--</ul>-->
    </li>

    <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
            href="/high-quality-artwork/">High Quality Artwork </a>
        <!--<ul class="navPage-childList tier-3">-->
        <!--    {{#if show_back}}-->
        <!--    <li class="navPage-childList-item back">-->
        <!--        <a class="navPage-childList-action navPages-action" href="javascript:void(0)">-->
        <!--            {{> components/common/more-icon}} Back-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    {{/if}}-->

        <!--    <li class="navPage-childList-item">-->
        <!--        <a class="navPage-childList-action navPages-action" href="/htw-weeding-kit/">HTV Weeding Kit</a>-->
        <!--    </li>-->
        <!--</ul>-->
    </li>  

    <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
            href="https://www.heattransferwarehouse.com/htv-calculator/">HTV Calculator </a>
        <!--<ul class="navPage-childList tier-3">-->
        <!--    {{#if show_back}}-->
        <!--    <li class="navPage-childList-item back">-->
        <!--        <a class="navPage-childList-action navPages-action" href="javascript:void(0)">-->
        <!--            {{> components/common/more-icon}} Back-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    {{/if}}-->

        <!--    <li class="navPage-childList-item">-->
        <!--        <a class="navPage-childList-action navPages-action" href="/htw-weeding-kit/">HTV Weeding Kit</a>-->
        <!--    </li>-->
        <!--</ul>-->
    </li>
    
        <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
            href="/rhinestone-calculator/">Rhinestone Calculator </a>
        <!--<ul class="navPage-childList tier-3">-->
        <!--    {{#if show_back}}-->
        <!--    <li class="navPage-childList-item back">-->
        <!--        <a class="navPage-childList-action navPages-action" href="javascript:void(0)">-->
        <!--            {{> components/common/more-icon}} Back-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    {{/if}}-->

        <!--    <li class="navPage-childList-item">-->
        <!--        <a class="navPage-childList-action navPages-action" href="/htw-weeding-kit/">HTV Weeding Kit</a>-->
        <!--    </li>-->
        <!--</ul>-->
    </li>

            <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
            href="/blog/heat-press-temperature-and-time-guide-for-htv/">HTV Heat Press Temp & Time Guide</a>
        <!--<ul class="navPage-childList tier-3">-->
        <!--    {{#if show_back}}-->
        <!--    <li class="navPage-childList-item back">-->
        <!--        <a class="navPage-childList-action navPages-action" href="javascript:void(0)">-->
        <!--            {{> components/common/more-icon}} Back-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    {{/if}}-->

        <!--    <li class="navPage-childList-item">-->
        <!--        <a class="navPage-childList-action navPages-action" href="/htw-weeding-kit/">HTV Weeding Kit</a>-->
        <!--    </li>-->
        <!--</ul>-->
    </li> 
    
            <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
            href="https://www.heattransferwarehouse.com/svg-artwork/">SVG Artwork</a>
        <!--<ul class="navPage-childList tier-3">-->
        <!--    {{#if show_back}}-->
        <!--    <li class="navPage-childList-item back">-->
        <!--        <a class="navPage-childList-action navPages-action" href="javascript:void(0)">-->
        <!--            {{> components/common/more-icon}} Back-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    {{/if}}-->

        <!--    <li class="navPage-childList-item">-->
        <!--        <a class="navPage-childList-action navPages-action" href="/htw-weeding-kit/">HTV Weeding Kit</a>-->
        <!--    </li>-->
        <!--</ul>-->
    </li> 
    
         <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action has-childList" data-level="2"
            href="/walascholar/">WALAScholar</a>
        <!--<ul class="navPage-childList tier-3">-->
        <!--    {{#if show_back}}-->
        <!--    <li class="navPage-childList-item back">-->
        <!--        <a class="navPage-childList-action navPages-action" href="javascript:void(0)">-->
        <!--            {{> components/common/more-icon}} Back-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    {{/if}}-->

        <!--    <li class="navPage-childList-item">-->
        <!--        <a class="navPage-childList-action navPages-action" href="/htw-weeding-kit/">HTV Weeding Kit</a>-->
        <!--    </li>-->
        <!--</ul>-->
    </li> 
</ul>
