
<ul class="navPage-subMenu tier-2">
	{{#if show_back}}
		<li class="navPage-subMenu-item back">
			<a class="navPages-action" href="javascript:void(0)">
				{{> components/common/more-icon}} Back
			</a>
		</li>
	{{/if}}
	{{#if view_all_name}}
		<li class="navPage-subMenu-item">
			<a class="navPages-action" href="{{view_all_url}}">
				All {{view_all_name}}
			</a>
		</li>
	{{/if}}
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/walapress-heat-presses/">WALAPresses {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/walapress-drawer-clam-15x15-heat-press/">WALAPress Drawer 15x15</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/walapress-auto-open-drawer-16x20-heat-press-v2/">WALAPress Auto 16x20</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/walapress-mug-tumbler-presses/">WALAPress Mug/Tumbler Presses</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/sublimation-ovens/">WALAPress Sublimation Ovens</a>			
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/walapress-heat-presses/">View All</a>
			</li>
		</ul>
	</li>	
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/heat-presses/">Heat Presses {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/craft-heat-presses/">Craft Heat Presses</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/15-x-15-heat-presses/">15" x 15" Heat Presses</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/16x16-heat-presses/">16" x 16" Heat Presses</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/16-x-20-heat-presses/">16" x 20" Heat Presses</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/specialty-heat-presses/">Speciality Heat Presses</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/heat-presses/">View All</a>
			</li>
		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/heat-presses/">Heat Presses by Brand {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/hotronix-heat-presses/">Hotronix Heat Presses</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/walapress-heat-presses/">WALAPress Heat Presses</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/geo-knight-heat-presses/">Geo Knight Heat Presses</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/t-shirt-heat-press-machines-by-htw/">T-Shirt Heat Presses</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/hix-heat-presses/">HIX Heat Presses</a>
			</li>			
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/heat-presses/">View All</a>
			</li>
		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/vinyl-cutters/">Vinyl Cutters {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/graphtec-cutters/">Graphtec Cutters</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/graphtec-ce7000/">Graphtec CE7000</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/silhouette-cameo/">Silhouette Cameo</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/silhouette-cameo-4-plus-15/">Silhouette Cameo Plus</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/brother-scan-and-cut/">Brother ScanNCut</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/vinyl-cutters/">View All</a>
			</li>
		</ul>
	</li>
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/sublimation-printers/">Sublimation Printers {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/sawgrass-sg500/">SG500 Printer</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/sawgrass-sg1000/">SG1000 Printer</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/sawgrass-sg500-sublimation-printer-bundles/">SG500 Bundles</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/sawgrass-sg1000-sublimation-printer-bundles/">SG1000 Bundles</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/sawgrass-sg1000-sublimation-printer-with-bypass-tray-bundles/">SG1000 Bypass Bundles</a>
			</li>
			<li class="navPage-childList-item">
			    <a class="navPage-childList-action navPages-action" href="/24-epson/">24" Epson® Bundles</a>
			</li>  
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/sublimation-printers/">View All</a>
			</li>
		</ul>
	</li>
	    <li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/white-toner-laser-printers/">White Toner Laser Printers {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/uninet-icolor/">UniNet iColor</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/uninet-icolor-paper/">UniNet iColor Paper</a>
			</li>
				<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/uninet-icolor-toner/">UniNet iColor Toner</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/crio-white-toner-laser-printers/">Crio White Toner Laser Printers</a>
			</li>
				<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/crio-8432wdt-replacement-toners/">Crio Toner</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/white-toner-laser-printers/">View All</a>
			</li>
		</ul>
	</li>
	    
	<li class="navPage-subMenu-item">
		<a class="navPage-subMenu-action navPages-action has-childList" data-level="2" href="/equipment-bundles/">Equipment Bundles {{> components/common/more-icon}}</a>
		<ul class="navPage-childList tier-3">
			{{#if show_back}}
				<li class="navPage-childList-item back">
					<a class="navPage-childList-action navPages-action" href="javascript:void(0)">
						{{> components/common/more-icon}} Back
					</a>
				</li>
			{{/if}}
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/heat-press-bundles/">Heat Press Bundles</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/vinyl-cutter-bundles/">Cutter Bundles</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/dye-sublimation-printer-bundles/">Dye Sub Printer Bundles</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/sawgrass-sg500-sublimation-printer-bundles/">Sawgrass SG500 Bundles</a>
			</li>
			<li class="navPage-childList-item">
				<a class="navPage-childList-action navPages-action" href="/sawgrass-sg1000-sublimation-printer-bundles/">Sawgrass SG1000 Bundles</a>
			</li>
			<li class="navPage-childList-item">
			    <a class="navPage-childList-action navPages-action" href="/24-epson/">24" Epson® Printer Bundles</a>
			</li>
			<li class="navPage-childList-item shop-all">
				<a class="navPage-childList-action navPages-action" href="/equipment-bundles/">View All</a>
			</li>
		</ul>
	</li>
	
</ul>
