<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/bunnybags-1-.jpg?t=1646689611&_gl=1*11cll8t*_ga*Njc1MDYwNDU2LjE2NDY3NTMzODQ.*_ga_WS2VZYPC6G*MTY0Njc1MzM4My4xLjEuMTY0Njc1OTU1Ni41OQ.."
                    alt="Application Fluids">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Easter Bags</strong></h3>
                    <a href="/easter-bunny-bags/"
                        class="button button--outline button--large clr-white">Shop Easter Bags</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supacoloreaster-1-.png?t=1646689610&_gl=1*11cll8t*_ga*Njc1MDYwNDU2LjE2NDY3NTMzODQ.*_ga_WS2VZYPC6G*MTY0Njc1MzM4My4xLjEuMTY0Njc1OTU1Ni41OQ.."
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Stock Supacolor</strong></h3>
                    <a href="/easter-stock-supacolor-transfers/" class="button button--outline button--large clr-white">Shop Supacolor</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/rhinestoneseaster-copy-1-.jpg?t=1646689611&_gl=1*11cll8t*_ga*Njc1MDYwNDU2LjE2NDY3NTMzODQ.*_ga_WS2VZYPC6G*MTY0Njc1MzM4My4xLjEuMTY0Njc1OTU1Ni41OQ.."
                    alt="Heat Press Teflon Pillows">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Rhinestone Transfers</strong></h3>
                    <a href="/easter-rhinestone-transfers/"
                        class="button button--outline button--large clr-white">Shop Rhinestones</a>
                </div>
            </div>
        </div>
    </div>
</section>
