<section class="section clothing-categories">
    <h2 class="section-title"><strong>Categories</strong></h2>
    <!--<p class="section-intro">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p> -->
    <div class=" flex-grid">
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/siser-easypsv/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-siser-01.jpg?t=1621268467&_ga=2.116978886.1133977346.1621251000-1098918792.1573072587"
                        alt="Siser EasyPSV Sign Vinyl">
                    <h4 class="home-category-banner"><strong>Siser EasyPSV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/oracal-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-oracal-01.jpg?t=1621366726&_ga=2.116978886.1133977346.1621251000-1098918792.1573072587"
                        alt="Oracal PSV">
                    <h4 class="home-category-banner"><strong>Oracal</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/patterned-adhesive-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-heattransferwarehouse-01.jpg?t=1621375343&_ga=2.116978886.1133977346.1621251000-1098918792.1573072587"
                        alt="Heat Transfer Warehouse Sign Vinyl">
                    <h4 class="home-category-banner"><strong>HTW PSV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/wall-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-removablepsv-01.jpg?t=1621366727&_ga=2.116978886.1133977346.1621251000-1098918792.1573072587"
                        alt="Removable Wall Vinyl">
                    <h4 class="home-category-banner"><strong>Removeable PSV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/sign-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-permanant-01.jpg?t=1621366727&_ga=2.116978886.1133977346.1621251000-1098918792.1573072587"
                        alt="Permanent Sign Vinyl">
                    <h4 class="home-category-banner"><strong>Permanent PSV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/patterned-adhesive-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-patternedpsv-01.jpg?t=1621366727&_ga=2.116978886.1133977346.1621251000-1098918792.1573072587"
                        alt="Patterned Sign Vinyl">
                    <h4 class="home-category-banner"><strong>Patterned PSV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/glitter-adhesive-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-glitterpsv-01.jpg?t=1621366724&_ga=2.76242133.1133977346.1621251000-1098918792.1573072587"
                        alt="Glitter Sign Vinyl">
                    <h4 class="home-category-banner"><strong>Glitter Adhesive Vinyl</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/wide-format-printable-sign-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-printable-01.jpg?t=1621369366&_ga=2.116978886.1133977346.1621251000-1098918792.1573072587"
                        alt="Wide Format Sign Vinyl">
                    <h4 class="home-category-banner"><strong>Wide Format PSV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/transfer-tapes-masks/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-transfertapepsv-01.jpg?t=1621366728&_ga=2.116978886.1133977346.1621251000-1098918792.1573072587"
                        alt="PSV Transfer Mask">
                    <h4 class="home-category-banner"><strong>Transfer Tape and Mask</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/psv-blanks/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-psvblanks-01.jpg?t=1621375344&_ga=2.77266133.1133977346.1621251000-1098918792.1573072587"
                        alt="PSV Sign Vinyl Blanks">
                    <h4 class="home-category-banner"><strong>Adhesive Blanks</strong></h4>
                </a>
            </div>
        </div>
    </div>
</section>
