<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-psvstandard.jpg?t=1621361321&_ga=2.172596707.1133977346.1621251000-1098918792.1573072587"
                    alt="Sign Vinyl PSV">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Permanent Vinyl</strong></h3>
                    <p>THe go-to vinyl for decals, stickers, and signs!</p>
                    <a href="/sign-vinyl/"
                        class="button button--outline button--large clr-white">Shop Permanent Vinyl</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-patternedpsv.jpg?t=1621361320&_ga=2.172596707.1133977346.1621251000-1098918792.1573072587"
                    alt="Patterned Adhesive Vinyl">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Patterned Adhesive Vinyl</strong></h3>
                    <p>Shop our wide selection of patterned adhesive vinyl!</p>
                    <a href="/patterned-adhesive-vinyl/" class="button button--outline button--large clr-white">Shop
                        Patterned Adhesive Vinyl</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-revisedpsvblanks.jpg?t=1621361319&_ga=2.172596707.1133977346.1621251000-1098918792.1573072587"
                    alt="Adhesive Blanks">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Adhesive Blanks</strong></h3>
                    <p>Adhesive blanks are the perfect pair with PSV!</p>
                    <a href="/psv-blanks/"
                        class="button button--outline button--large clr-white">Shop Adhesive Blanks</a>
                </div>
            </div>
        </div>
    </div>
</section>
