<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/accessorieslandingpage-applicationfluid-update.jpg?t=1625749764"
                    alt="Application Fluids">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Application Fluids</strong></h3>
                    <a href="/application-fluids/"
                        class="button button--outline button--large clr-white">Shop Application Fluids</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/accessorieslandingpage-weedingtools.jpg?t=1620747243&_ga=2.61780388.907421027.1620643288-1098918792.1573072587"
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Weeding Tools</strong></h3>
                    <a href="/weeding-tools/" class="button button--outline button--large clr-white">Shop Weeding Tools</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlandingbanner-teflonpillows.jpg?t=1620747244&_ga=2.61780388.907421027.1620643288-1098918792.1573072587"
                    alt="Heat Press Teflon Pillows">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Heat Press Pillows</strong></h3>
                    <a href="/heat-press-pillows/"
                        class="button button--outline button--large clr-white">Shop Heat Press Pillows</a>
                </div>
            </div>
        </div>
    </div>
</section>
