	<div class=" flex-grid-equipment" "center">
		<!--<div class="grid-item xs-6 sm-3 md-2" "center">-->
		<!--	<a class="category-link" href="/heat-transfer-vinyl/">-->
		<!--		<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-blank.jpg?t=1619462550&_ga=2.146340340.1133977346.1621251000-1098918792.1573072587"alt="heat transfer vinyl" >-->
		<!--		<h4><strong></strong></h4>-->
		<!--	</a>-->
		<!--</div>-->
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/heat-presses/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-heatpress-01.jpg?t=1621608400" alt="Heat Press Machine">
				<h4><center><strong>Heat Presses</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/vinyl-cutters/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-cutters-01.jpg?t=1621608400" alt="Heat Transfer Vinyl Cutters">
				<h4><center><strong>Vinyl Cutters</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/sublimation-printers/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-sg500-01.jpg?t=1621608401&_ga=2.151256441.1133977346.1621251000-1098918792.1573072587" alt="dye sublimation printer">
				<h4><center><strong>Sublimation Printers</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/white-toner-laser-printers/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-okiprinter-01.jpg?t=1625751803" alt="White Toner Printer">
				<h4><center><strong>White Toner Printers</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/sublimation-ovens/ ">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/original/image-manager/oven-category.jpg?t=1661452176&_gl=1*1ft45gn*_ga*MTU0MjM1NTkwMC4xNjI3OTk5Mzk3*_ga_WS2VZYPC6G*MTY2MTQ0ODk1Ny42OTIuMS4xNjYxNDUxNDgwLjYwLjAuMA" alt="White Toner Printer">
				<h4><center><strong>Sublimation Ovens</strong></center></h4>
			</a>
		</div>
		<br>
		<!--<div class="grid-item xs-6 sm-3 md-2">-->
		<!--	<a class="category-link" href="/clothing/">-->
		<!--		<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-blank.jpg?t=1619462550&_ga=2.146340340.1133977346.1621251000-1098918792.1573072587" alt="wholesale blank clothing">-->
		<!--		<h4><strong></strong></h4>-->
		<!--	</a>-->
		<!--</div>-->
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/walapress-heat-presses/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-walapress-01.jpg?t=1621608401" alt="WALAPress">
				<h4><center><strong>WALAPress</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/hotronix/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-hotronix-01.jpg?t=1621608401" alt="Hotronix Heat Press Machine">
				<h4><center><strong>Hotronix</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/graphtec/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-graphtec-01.jpg?t=1621608402" alt="Graphtec Heat Press Machine">
				<h4><center><strong>Graphtec</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/silhouette/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-silhouette-01.jpg?t=1621608402&_ga=2.113332423.1133977346.1621251000-1098918792.1573072587" alt="Silhouette">
				<h4><center><strong>Silhoutte</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/dye-sublimation-printers/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-sawgrass-01.jpg?t=1621609354&_ga=2.119126473.1133977346.1621251000-1098918792.1573072587" alt="Sawgrass Dye Sublimation Printer">
				<h4><center><strong>Sawgrass</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/t-shirt-heat-press-machines-by-htw/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-heattransferwarehouse-01.jpg?t=1621375343" "Heat Transfer Warehouse Heat Press">
				<h4><center><strong>HTW</strong></center></h4>
			</a>
		</div>
			<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/geo-knight-heat-presses/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-geoknight-01.jpg?t=1625693376" alt="Geo Knight Heat Press Machine">
				<h4><center><strong>Geo Knight</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/hix/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-hix-01.jpg?t=1625693378" alt="HIX Heat Press Machine">
				<h4><center><strong>HIX</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/siser-heat-presses/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-siser-01.jpg?t=1621268467" alt="Siser Heat Press Machine">
				<h4><center><strong>Siser</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/starcraft-mint-15x15-heat-press/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-starcraft-01.jpg?t=1625750758" alt="Starcraft Heat Press Machine">
				<h4><center><strong>Starcraft</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/brother/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-brother-01.jpg?t=1625754704" alt="Brother Cutter Machine">
				<h4><center><strong>Brother</strong></center></h4>
			</a>
		</div>
		<div class="grid-item-equipment xs-6 sm-3 md-2">
			<a class="category-link" href="/oki/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-oki-01.jpg?t=1625753412" "OKI White Toner Heat Transfer Printer">
				<h4><center><strong>OKI</strong></center></h4>
			</a>
		</div>
	</div>
</section>
