<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-heatpresseswpress.jpg?t=1621607370&_ga=2.147543287.1133977346.1621251000-1098918792.1573072587"
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>WALAPresses</strong></h3>
                    <a href="/walapress-heat-presses/" class="button button--outline button--large clr-white">Shop WALAPresses</a>
                </div>
            </div>
        </div>
                <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-cutters.jpg?t=1621607369&_ga=2.147543287.1133977346.1621251000-1098918792.1573072587"
                    alt="Vinyl Cutters">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Vinyl Cutters</strong></h3>
                    <a href="/vinyl-cutters/"
                        class="button button--outline button--large clr-white">Shop Cutters</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-sawgrassprinter.jpg?t=1621607371&_ga=2.147543287.1133977346.1621251000-1098918792.1573072587"
                    alt="Sawgrass Dye Sublimation Printers">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Sublimation Bundles</strong></h3>
                    <a href="/dye-sublimation-printers/"
                        class="button button--outline button--large clr-white">Shop Sawgrass Printers</a>
                </div>
            </div>
        </div>
    </div>
</section>
