<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/original/image-manager/diyalexwalakut-metallics.png?t=1661808929&_gl=1*1rwcbdr*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY2MTgwODg3Mi41NDYuMS4xNjYxODA5MzY2LjQ0LjAuMA.."
                    alt="Application Fluids">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>WALAKut Metallic HTV</strong></h3>
                    <a href="/walakut-metallic-htv/"
                        class="button button--outline button--large clr-white">Shop Metallic HTV</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/original/image-manager/diyalexperson.png?t=1661808928&_gl=1*1rwcbdr*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY2MTgwODg3Mi41NDYuMS4xNjYxODA5MzY2LjQ0LjAuMA.."
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/original/image-manager/diyalex-tumblerpress.png?t=1661808931&_gl=1*1jyg1mp*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY2MTgwODg3Mi41NDYuMS4xNjYxODA5MzY2LjQ0LjAuMA.."
                    alt="Heat Press Teflon Pillows">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>WALAPress Tumbler Press</strong></h3>
                    <a href="/walapress-mug-tumbler-presses/"
                        class="button button--outline button--large clr-white">Shop Tumbler Presses</a>
                </div>
            </div>
        </div>
    </div>
</section>
