<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-walablanks.jpg?t=1621372177&_ga=2.108130882.1133977346.1621251000-1098918792.1573072587"
                    alt="WALABlanks">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>WALABlanks</strong></h3>
                    <p>Shop our wide selection of in house brand blanks!</p>
                    <a href="/walablanks/" class="button button--outline button--large clr-white">Shop WALABlanks</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/original/image-manager/ajuniquecreations.png?t=1661280831&_gl=1*1fqbvm7*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY2MTI3NjY3MS41MjQuMS4xNjYxMjgwNTY4LjUwLjAuMA.."
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong></strong></h3>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-hotfixrhinestones.jpg?t=1620760318&_ga=2.62970407.907421027.1620643288-1098918792.1573072587"
                    alt="HotFix Rhinestones">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>WALAStone Rhinestones</strong></h3>
                    <p>Low Lead Rhinestones</p>
                    <a href="/hotfix-rhinestones/" class="button button--outline button--large clr-white">Shop WALAStone Rhinestones</a>
                </div>
            </div>
        </div>
    </div>
</section>
