<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-wblanks-1-.jpg?t=1620934809&_ga=2.87932560.907421027.1620643288-1098918792.1573072587"
                    alt="WALABlanks Dye Sub Blanks">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>WALABlanks</strong></h3>
                    <p>Shop our large assortment of dye sublimation blanks!</p>
                    <a href="/walablanks/"
                        class="button button--outline button--large clr-white">Shop WALABlanks</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-sgbundles.jpg?t=1620934113&_ga=2.87932560.907421027.1620643288-1098918792.1573072587"
                    alt="Sawgrass Dye Sublimation Printer Bundles">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Sublimation Bundles</strong></h3>
                    <p>Bundle and Save with SG500 and SG1000 Bundles!</p>
                    <a href="/dye-sublimation-printers/" class="button button--outline button--large clr-white">Shop
                        Sawgrass Printers</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-inks.jpg?t=1621254168&_ga=2.172146275.1133977346.1621251000-1098918792.1573072587"
                    alt="Sawgrass Dye Sublimation Ink">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Dye Sublimation Ink</strong></h3>
                    <p>The best dye sublimation inks in the industry!</p>
                    <a href="/dye-sublimation-ink/"
                        class="button button--outline button--large clr-white">Shop Dye Sub Ink</a>
                </div>
            </div>
        </div>
    </div>
</section>
