<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/lorrienunnemaker-banner-01.jpg?t=1620223063&_ga=2.64994407.915884091.1620051914-1098918792.1573072587" alt="Lorrie Nunemaker"class="center">
<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/lorrienunemaker-rightbanner-updated.jpg?t=1635866717&_gl=1*1xxwxuk*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzNTg2MTgyOS4yNjIuMS4xNjM1ODY2NzE3LjYw"
                    href="/lorrie-nunemaker-sawgrass-sublimation-printer-sg500-bundle/"
                    alt="Patterned Vinyl">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>SG500 Bundle</strong></h3>
                    <a href="/lorrie-nunemaker-sawgrass-sublimation-printer-sg500-bundle/" class="button button--outline button--large clr-white">Buy Now!</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-lorrieblanks-updated.jpg?t=1635866715&_gl=1*o5sik*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzNTg2MTgyOS4yNjIuMS4xNjM1ODY2NzE3LjYw"
                    alt="Dye Sublimation Blanks">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Sublimation Blanks</strong></h3>
                    <a href="/dye-sub-blanks/" class="button button--outline button--large clr-white">Shop Dye Sub Blanks!</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/lorrienunemaker-rightbanner-updated.jpg?t=1635866717&_gl=1*1xxwxuk*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzNTg2MTgyOS4yNjIuMS4xNjM1ODY2NzE3LjYw"
                    alt="Rhinestone Transfer">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>SG1000 Bundle</strong></h3>
                    <a href="/lorrie-nunemaker-sawgrass-sublimation-printer-sg1000-bundle/"
                        class="button button--outline button--large clr-white">Buy Now!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section home-category-icon-section">
	<h2 class="section-title">Categories</h2>
	<!-- <nav class="category-icons text-center">
		<a class="category-icon clr-vinyl" href="/heat-transfer-vinyl/">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-vinyl" /></svg></i>
			<span class="title">Heat Transfer Vinyl</span>
		</a>
		<a class="category-icon clr-printables" href="/printable-heat-transfer-vinyl/">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-print" /></svg></i>
			<span class="title">Printables</span>
		</a>
		<a class="category-icon clr-equipment" href="/equipment/">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-equipment" /></svg></i>
			<span class="title">Equipment</span>
		</a>
		<a class="category-icon clr-custom" href="/custom-transfers/">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-palette" /></svg></i>
			<span class="title">Custom</span>
		</a>
		<a class="category-icon clr-new-products" href="/sale/">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-sale" /></svg></i>
			<span class="title">Sale</span>
		</a>
		<a class="category-icon clr-clothing" href="https://www.heattransferwarehouse.com/" target="_blank">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-shirt" /></svg></i>
			<span class="title">Clothing</span>
		</a>
	</nav> -->
	<div class=" flex-grid">
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/heat-transfer-vinyl/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/htw-180-01.jpg?t=1599068522&_ga=2.161350845.1224884793.1598878438-1098918792.1573072587"alt="heat transfer vinyl" >
				<h4><strong>Heat Transfer Vinyl</strong></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/equipment/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/equipment-01.jpg?t=1599069262&_ga=2.166529214.1224884793.1598878438-1098918792.1573072587" alt="heat transfer equipment">
				<h4><strong>Equipment</strong></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/printable-heat-transfer-vinyl/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/printables-01.jpg?t=1599064650&_ga=2.187649704.1224884793.1598878438-1098918792.1573072587" alt="printable htv">
				<h4><strong>Printables</strong></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/dye-sublimation/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/dyesublimation-01.jpg?t=1599064370&_ga=2.30781695.1794606084.1599570118-1098918792.1573072587" alt="dye sublimation">
				<h4><strong>Sublimation</strong></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/adhesive-vinyl/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/signvinyl-01.jpg?t=1599768195&_ga=2.260963917.1794606084.1599570118-1098918792.1573072587" alt="adhesive craft vinyl">
				<h4><strong>Adhesive Vinyl</strong></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/clothing/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/clothing-01-01.jpg?t=1599067922&_ga=2.40294882.1794606084.1599570118-1098918792.1573072587" alt="wholesale blank clothing">
				<h4><strong>Clothing</strong></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/blanks/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/blanks-01.jpg?t=1599769926&_ga=2.94869980.1794606084.1599570118-1098918792.1573072587" alt="sublimation blanks and heat transfer vinyl blanks">
				<h4><strong>Blanks</strong></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/custom-transfers/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/custom-01.jpg?t=1599069573&_ga=2.30407039.1794606084.1599570118-1098918792.1573072587" alt="custom heat transfers and sublimation transfers">
				<h4><strong>Custom</strong></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/siser-easyweed-htv/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/easyweed-01.jpg?t=1599768983&_ga=2.106919107.1794606084.1599570118-1098918792.1573072587" alt="Siser Easyweed">
				<h4><strong>Siser EasyWeed</strong></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/thermoflex-plus/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/thermflex-01.jpg?t=1599768983&_ga=2.106919107.1794606084.1599570118-1098918792.1573072587" alt="Thermoflex Plus">
				<h4><strong>ThermoFlex Plus</strong></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/walakut-express/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/wkexpress-01.jpg?t=1599768984&_ga=2.106919107.1794606084.1599570118-1098918792.1573072587" alt="WalaKut HTV">
				<h4><strong>WALAKut Express</strong></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/whats-new/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/new-with-mark-01.jpg?t=1599768400&_ga=2.34910433.1794606084.1599570118-1098918792.1573072587" "New Products, HTV and Heat Tranfer Equipment">
				<h4><strong>New Products</strong></h4>
			</a>
		</div>
	</div>
</section>
