<section class="section clothing-categories">
    <h2 class="section-title"><strong>Categories</strong></h2>
    <!--<p class="section-intro">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p> -->
    <div class=" flex-grid">
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/hotfix-rhinestones/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-rhinestonejars-01.jpg?t=1620760316&_ga=2.21494067.907421027.1620643288-1098918792.1573072587"
                        alt="HotFix Rhinestones">
                    <h4 class="home-category-banner"><strong>HotFix Rhinestones</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/bulk-hotfix-rhinestones/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-bulkbag-01-01.jpg?t=1620760316&_ga=2.33537462.907421027.1620643288-1098918792.1573072587"
                        alt="Bulk Bag Rhinestones">
                    <h4 class="home-category-banner"><strong>Bulk Bag Rhinestones</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/youth/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-stockrhinestone-01.jpg?t=1620336153&_ga=2.264748295.907421027.1620643288-1098918792.1573072587"
                        alt="Dye Sub Transfers">
                    <h4 class="home-category-banner"><strong>Stock Transfers</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/rhinestone-templates/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-template-01.jpg?t=1620760317&_ga=2.33406646.907421027.1620643288-1098918792.1573072587"
                        alt="Rhinestone Templates">
                    <h4 class="home-category-banner"><strong>Rhinestone Templates</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/rhinestone-tools/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-rhinestonetools-01.jpg?t=1620760317&_ga=2.100195990.907421027.1620643288-1098918792.1573072587"
                        alt="Rhinestone Accessories">
                    <h4 class="home-category-banner"><strong>Rhinestone Accessories</strong></h4>
                </a>
            </div>
        </div>
    </div>
</section>
