<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/hustleninjas-walapress.jpg?t=1622150612&_ga=2.173787811.1463904615.1621857032-1098918792.1573072587"
                    alt="Dye Sublimation">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>WALAPresses</strong></h3>
                    <a href="/walapress-heat-presses/"
                        class="button button--outline button--large clr-white">Shop WALAPress</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/highrangetrading.png?t=1649863532&_gl=1*rtkm1j*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0OTg1ODkzNC42NS4xLjE2NDk4NjMwNzIuMjM."
                    alt="Hustle Ninja">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong></strong></h3>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlandingpage-supacolors.jpg?t=1620327318&_ga=2.68661465.915884091.1620051914-1098918792.1573072587"
                    alt="Specialty Vinyl">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Supacolor Transfers</strong></h3>
                    <a href="/supacolor-heat-transfer/"
                        class="button button--outline button--large clr-white">Shop Supacolor</a>
                </div>
            </div>
        </div>
    </div>
</section>
