<div class=" flex-grid" "center">
    <div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/craft-heat-presses/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-craftheatpresses-01.jpg?t=1627324746&_gl=1*1nwgufn*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYyODc3MzE5OS44LjEuMTYyODc3NDkxMC41MA.." alt="Craft Presses">
				<h4><center><strong></strong></center></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/15-x-15-heat-presses/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-15x15-01.jpg?t=1627324744&_gl=1*1nwgufn*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYyODc3MzE5OS44LjEuMTYyODc3NDkxMC41MA.." alt="Hotronix Heat Press Machine">
				<h4><center><strong></strong></center></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/16x16-heat-presses/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-16x16-01.jpg?t=1627324745&_gl=1*1nwgufn*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYyODc3MzE5OS44LjEuMTYyODc3NDkxMC41MA.." alt="Graphtec Heat Press Machine">
				<h4><center><strong></strong></center></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/16-x-20-heat-presses/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-16x20-01.jpg?t=1627324745&_gl=1*1nwgufn*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYyODc3MzE5OS44LjEuMTYyODc3NDkxMC41MA.." alt="Silhouette">
				<h4><center><strong></strong></center></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/specialty-heat-presses/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-specialtyheatpress-01.jpg?t=1627324868&_gl=1*fv4ohn*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYyODc3MzE5OS44LjEuMTYyODc3NDk0MC4yMA.." "Heat Transfer Warehouse Heat Press">
				<h4><center><strong></strong></center></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/wide-format-heat-presses/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-wideformatheatpress-01.jpg?t=1627324747&_gl=1*1nwgufn*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYyODc3MzE5OS44LjEuMTYyODc3NDkxMC41MA.." alt="HIX Heat Press Machine">
				<h4><center><strong></strong></center></h4>
			</a>
			</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/walapress-heat-presses/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-walapress-01.jpg?t=1621608401" alt="HIX Heat Press Machine">
				<h4><center><strong>WALAPress</strong></center></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/hotronix/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-hotronix-01.jpg?t=1621608401" alt="HIX Heat Press Machine">
				<h4><center><strong>Hotronix</strong></center></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/starcraft/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-starcraft-01.jpg?t=1633958949&_gl=1*ibxur*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMzk1NzU0Mi4xODkuMS4xNjMzOTU4OTY3LjI4" alt="Starcraft Heat Press Machine">
				<h4><center><strong>Starcraft</strong></center></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/geo-knight-heat-presses/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-geoknight-01.jpg?t=1625693376" alt="Starcraft Heat Press Machine">
				<h4><center><strong>Geo Knight</strong></center></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/hix/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-hix-01.jpg?t=1625693378" alt="Brother Cutter Machine">
				<h4><center><strong>HIX</strong></center></h4>
			</a>
		</div>
		<div class="grid-item xs-6 sm-3 md-2">
			<a class="category-link" href="/t-shirt-heat-press-machines-by-htw/">
				<img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-heattransferwarehouse-01.jpg?t=1621375343" "OKI White Toner Heat Transfer Printer">
				<h4><center><strong>HTW</strong></center></h4>
			</a>
		</div>
	</div>
</section>
