
<section class="section home-brand-logo-section">
	<h2 class="section-title">Our Communities</h2>
    <p class="section-intro"></p>
	<nav class="popular-brands text-center">
			<a class="brand-item" target="_blank" data-href="https://www.youtube.com/c/HeatTransferWarehouse1/" href="https://www.youtube.com/c/HeatTransferWarehouse1/">
				<div class="img-container">
					<img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/youtube-big.png?t=1646083353" alt="YouTube">
				</div>
				<span class="title">YouTube</span>
			</a>
			<a class="brand-item" target="_blank" data-href="https://www.instagram.com/heat_transfer_warehouse//" href="https://www.instagram.com/heat_transfer_warehouse/">
				<div class="img-container">
					<img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/instagram-big.png?t=1646083352" alt="Instagram">
				</div>
				<span class="title">Instagram</span>
			</a>
			<a class="brand-item" target="_blank" data-href="https://www.tiktok.com/@heattransferwarehouse1/" href="https://www.tiktok.com/@heattransferwarehouse1/">
				<div class="img-container">
					<img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/tiktok-big.png?t=1646083352" alt="TikTok">
				</div>
				<span class="title">TikTok</span>
			</a>
			<a class="brand-item" target="_blank" data-href="https://www.facebook.com/HeatTransferWarehouseSupply/" href="https://www.facebook.com/HeatTransferWarehouseSupply/">
				<div class="img-container">
					<img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/facebook-big.png?t=1646083351" alt="Facebook">
				</div>
				<span class="title">Facebook</span>
			</a>
			<a class="brand-item" target="_blank" data-href="https://www.pinterest.com/heattransferwhs/" href="https://www.pinterest.com/heattransferwhs/">
				<div class="img-container">
					<img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/pinterest-big.png?t=1646083354" alt="Pinterest">
				</div>
				<span class="title">Pinterest</span>
			</a>
			<a class="brand-item" target="_blank" data-href="https://twitter.com/HeatTransferWhs/" href="https://twitter.com/HeatTransferWhs/">
				<div class="img-container">
					<img class="brand-img" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/twitter-big.png?t=1646083353" alt="Twitter">
				</div>
				<span class="title">Twitter</span>
			</a>
	</nav>
    <br/>
    <h2 class="section-title">Stay up to date</h2>
</section>
