<section class="section clothing-panels">
    <h2 class="section-title">Featured Videos</h2>
    <p class="section-intro"></p>
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/home-vid1.png?t=1646085360"
                    alt="Video 1">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Start your T-Shirt Business</strong></h3>
                    <p>Tips for Starting your Heat Transfer Vinyl T-shirt Business w/Joe from Siser</p>
                    <a href="https://youtu.be/y6frkXorI0c" target="_blank"
                        class="button button--outline button--large clr-white">Watch now</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/home-vid2.png?t=1646085361"
                    alt="Video 2">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>How to Price Custom T-Shirts</strong></h3>
                    <p>How much to charge for Supacolor Transfer Shirts</p>
                    <a href="https://youtu.be/QLP-syOC-9A" target="_blank" 
                        class="button button--outline button--large clr-white">Watch now</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/home-vid3.png?t=1646085362"
                    alt="Video 3">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>2022 HTV Guide</strong></h3>
                    <p>How to Cut and Use Heat Transfer Vinyl With a Graphtec CE-7000</p>
                    <a href="https://youtu.be/9dAS8z9KHQM" target="_blank"
                        class="button button--outline button--large clr-white">Watch now</a>
                </div>
            </div>
        </div>
    </div>
</section>
