<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supacolorbanner-resize.jpg?t=1619806859&_gl=1*gpuxg3*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTU1NTE1MS4xMDIuMS4xNjMxNTYwODIzLjI1"
                    alt="Dye Sublimation">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Supacolor Transfers</strong></h3>
                    <p>Get your very own custom transfer today!</p>
                    <a href="/supacolor-heat-transfers/"
                        class="button button--outline button--large clr-white">Shop Supacolor</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/tshirthelpdesk-landingpage.jpg?t=1631560608&_gl=1*18nh2hx*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTU1NTE1MS4xMDIuMS4xNjMxNTYwMzQ4LjU0"
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-uninet.jpg?t=1631560659&_gl=1*iuev16*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTU1NTE1MS4xMDIuMS4xNjMxNTYwMzQ4LjU0"
                    alt="Specialty Heat Transfer Vinyl">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Uninet Printer</strong></h3>
                    <p>Get quality transfers with Uninet White Toner Printer!</p>
                    <a href="/uninet-icolor/"
                        class="button button--outline button--large clr-white">Shop Uninet</a>
                </div>
            </div>
        </div>
    </div>
</section>
