<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/patriticsupacolor-shaynakrause.png?t=1649865490&_gl=1*kn358b*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0OTg1ODkzNC42NS4xLjE2NDk4NjQ3NzcuNw.."
                    alt="Dye Sublimation">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Patriotic Supacolors</strong></h3>
                    <a href="/4th-of-july/"
                        class="button button--outline button--large clr-white">Shop Supacolor</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/shaynakrause-banner.png?t=1649865469&_gl=1*1xoejy1*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0OTg1ODkzNC42NS4xLjE2NDk4NjQ3NzcuNw.."
                    alt="Hustle Ninja">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong></strong></h3>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/camopatterns-landingpage.jpg?t=1649865492&_gl=1*kn358b*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0OTg1ODkzNC42NS4xLjE2NDk4NjQ3NzcuNw.."
                    alt="Specialty Vinyl">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Camo HTV</strong></h3>
                    <a href="/camo-patterned-vinyl"
                        class="button button--outline button--large clr-white">Shop HTV</a>
                </div>
            </div>
        </div>
    </div>
</section>
