<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/3-category-custom-printed-transfers-03.jpg?t=1624463868"
                    alt="Small/Left Chest Size">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Small/Left Chest Size</strong></h3>
                    <p>Custom Printed Heat Transfer Vinyl</p>
                    <a href="/custom-printed-heat-transfers-small-left-chest/" target="_blank"
                        class="button button--outline button--large clr-white">Order Size</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/3-category-custom-printed-transfers-02.jpg?t=1624291108&_ga=2.263767820.1803673470.1624280206-885995832.1599745631"
                    alt="Full Front/Back Size">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Full Front/Back Size</strong></h3>
                    <p>Custom Printed Heat Transfer Vinyl</p>
                    <a href="/custom-printed-heat-transfers-full-front-back/" target="_blank" class="button button--outline button--large clr-white">Order Size</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/3-category-custom-printed-transfers-01.jpg?t=1624291110&_ga=2.263767820.1803673470.1624280206-885995832.1599745631"
                    alt="Sleeve/Pants Size">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Sleeve/Pant Leg Size</strong></h3>
                    <p>Custom Printed Heat Transfer Vinyl</p>
                    <a href="/custom-printed-heat-transfers-sleeve-pants/" target="_blank"
                        class="button button--outline button--large clr-white">Order Size</a>
                </div>
            </div>
        </div>
    </div>
</section>
