// =============================================================================
// SIDEBAR BLOCKS (CSS)
// =============================================================================


// Block
// -----------------------------------------------------------------------------

.sidebarBlock {
	&.categories {
		display: none;
	}
	
	@include breakpoint('medium') {
		&.categories {
			display: block;
		}
		+ .sidebarBlock {
			border-top: container("border");
			margin-top: spacing("single") + spacing("third");
			padding-top: spacing("single") + spacing("third");
		}
	}
}

.sidebarBlock-heading {
	font-size: 20px;
    margin-top: 0;
	text-transform: inherit;
}
