<section class="section clothing-categories">
    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/high-quality-artwork-banner-01.jpg?t=1624990289"
        alt="Supacolor Transfers" class="center">
           <h1 style="font-family: BebasNeue_Regular; margin-left: 2%; font-size: 55px; color: black;">
        WHY WOULD I NEED A HIGH QUALITY VECTOR FILE?
    </h1>
    <p style="text-align: left; font-family: arial; margin-left: 2%; font-size: 25px; color: black;">
Artwork such as JPG and PNG files are created by pixels. Vector files take your pixeled artwork and clean it up giving it clear lines. When you are using artwork for cutting or printing, using a vector version is optimal and many times required. Heat Transfer Warehouse offers a high quality redraw and vector conversion service. When using our service, you will recieve the highest quality version of your artwork which will help with any printing process. Vector files, such as SVG, PDF, EPS and AI, are the file types used to cut heat transfer vinyl (HTV) designs, Supacolor requires a high quality/vector file and machines such as Cricut, Silhouette Cameo and Graphtec HTV cutters will also need a vector file.</p>
<img style="width: 100%;" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/high-quality-artwork-01.jpg?t=1629122501&_gl=1*1x6khkg*_ga*ODg1OTk1ODMyLjE1OTk3NDU2MzE.*_ga_WS2VZYPC6G*MTYyOTExOTI5Mi4yOC4xLjE2MjkxMjI1MDkuMzg" alt="Vector redraw">
        <table cellspacing=0 style="width: 100%;">
            <tr
                style="width: 100%">
                <td style="font-family: BebasNeue_Regular; margin-left: 2%; font-size: 30px;
        vertical-align: top; width: 50%">
                    <p style="margin-left: 2%; font-family: arial;"><b>Above is a Low Quality Image</b></p>
                    <ul style="font-family: arial; margin-left: 2%; font-size: 20px;">
                        <li>All the pixelation and blurry parts of the image will print or it won't print correctly.</li>
                        <li>You will not be able to cut heat transfer vinyl from this file type.</li>
                    </ul>
                </td>
                <td style="font-family: BebasNeue_Regular; margin-left: 2%; font-size: 30px;
        vertical-align: top; width: 50%">
                    <p style="margin-left: 2%; font-family: arial;"><b>Above is a High Quality Vector File</b></p>
                    <ul
                        style="font-family: arial; margin-left: 2%; font-size: 20px;">
                        <li>The artwork is clean and clear for printing</li>
                        <li>The artwork is acceptable for any custom transfer we offer</li>
                        <li>You can use this file to cut heat transfer vinyl.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="https://www.heattransferwarehouse.com/artwork-redraws-and-vector-conversion-service/" target="_blank"><button
                            style="font-family: arial; background-color: #007500; color: white; text-align: center; width: 100%; margin: 0 auto;
            padding: 1%; border-radius: 10px; cursor: pointer; font-size: 20px;">Order High Quality Vector Artwork</button></a>
                </td>
            </tr>
            </table>
</section>
