<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-inks.jpg?t=1621254168&_ga=2.172146275.1133977346.1621251000-1098918792.1573072587"
                    alt="Sawgrass DS Inks">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Sawgrass DS Inks</strong></h3>
                    <p>Wide selection of Sawgrass DS Inks</p>
                    <a href="/sg1000-compatible-inks/"
                        class="button button--outline button--large clr-white">Shop Sawgrass DS Inks</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/images/stencil/original/image-manager/wfgreg.png?t=1661450660&_gl=1*1w1j78m*_ga*MTU0MjM1NTkwMC4xNjI3OTk5Mzk3*_ga_WS2VZYPC6G*MTY2MTQ0ODk1Ny42OTIuMS4xNjYxNDUwNjYzLjYwLjAuMA.."
                    alt="WALASub Paper">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>WALASub Paper</strong></h3>
                    <p>Sublimation Transfer Paper</p>
                    <a href="/walasub-sublimation-paper/" class="button button--outline button--large clr-white">Shop WALASub Paper</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
            src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-wblanks-1-.jpg?t=1620934809&_ga=2.87932560.907421027.1620643288-1098918792.1573072587"
                    alt="WALABlanks">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>WALABlanks</strong></h3>
                    <p>Perfect Blanks For Fotozoomer</p>
                    <a href="/fotozoomer-blanks/"
                        class="button button--outline button--large clr-white">Shop WALABlanks</a>
                </div>
            </div>
        </div>
    </div>
</section>
