<section class="section clothing-categories">
    <h1 style="font-family: BebasNeue_Regular; margin-left: 2%; font-size: 55px; color: black;">
        GARMENT SIZE MATTERS
    </h1>
    <p style="text-align: left; font-family: arial; margin-left: 2%; font-size: 25px; color: black;">
The size of your garment definitely plays a role in the size of your artwork. With every garment we always recommend measuring with a ruler so you have a better visualization of how the dimensions will work on the garment. The shirt size can be different from brand to brand. Below are size examples for you to try on your garments.</p>
<img style="width: 100%;" src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/size-guide-01.jpg?t=1629120594&_gl=1*aqk1p5*_ga*ODg1OTk1ODMyLjE1OTk3NDU2MzE.*_ga_WS2VZYPC6G*MTYyOTExOTI5Mi4yOC4xLjE2MjkxMjA2MDMuMjk" alt="Sizing examples">
    <div
        style="background: linear-gradient(90deg, #8BC141 0%, #8BC141 70%, #096B38 100%); display: inline-block; margin: 10px; width: 47%; min-height: 600px; min-width: 350px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
<img style="width: 100%;"
    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/size-guide-05.jpg?t=1629121889&_gl=1*ufg8qk*_ga*ODg1OTk1ODMyLjE1OTk3NDU2MzE.*_ga_WS2VZYPC6G*MTYyOTExOTI5Mi4yOC4xLjE2MjkxMjE4OTguNTc"
    alt="guide1">
        <p style="color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
         Lay a sheet of printer<br> paper on the garment to<br> get a quick visual of how<br> an 8.5 x 11 size will look <br>on your garment. For <br>smaller designs, you <br>could print off your design<br> for more visual<br> representation
        </p>
    </div>
    <div
        style="background: linear-gradient(90deg, #8BC141 0%, #8BC141 70%, #096B38 100%); display: inline-block; margin: 10px; width: 47%; min-height: 600px; min-width: 350px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
<img style="width: 100%;"
    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/size-guide-06.jpg?t=1629121890&_gl=1*150l9to*_ga*ODg1OTk1ODMyLjE1OTk3NDU2MzE.*_ga_WS2VZYPC6G*MTYyOTExOTI5Mi4yOC4xLjE2MjkxMjE4OTguNTc"
    alt="guide2">
        <p style="color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
        When keeping the scale<br> of the design<br> proportional, take the <br>largest width or height<br> you can go on your<br> garment and keep the<br> opposing measurement <br>linked together in your<br> software.
        </p>
    </div>
        <div
            style="background: linear-gradient(90deg, #8BC141 0%, #8BC141 70%, #096B38 100%); display: inline-block; margin: 10px; width: 47%; min-height: 600px; min-width: 350px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
<img style="width: 100%;"
    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/size-guide-03.jpg?t=1629121888&_gl=1*ufg8qk*_ga*ODg1OTk1ODMyLjE1OTk3NDU2MzE.*_ga_WS2VZYPC6G*MTYyOTExOTI5Mi4yOC4xLjE2MjkxMjE4OTguNTc"
    alt="guide3">
    <br>
    <br>
            <p style="color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
          Try placing 3 fingers<br> horizontally from the <br>collar to help<br> with spacing<br> your design
            </p>
            <br>
        </div>
        <div
            style="background: linear-gradient(90deg, #8BC141 0%, #8BC141 70%, #096B38 100%); display: inline-block; margin: 10px; width: 47%; min-height: 600px; min-width: 350px; background-color: rgba(189,16,16,1); color: white; font-family: BebasNeue_Regular; font-size: 50px;">
<img style="width: 100%;"
    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/size-guide-04.jpg?t=1629121889&_gl=1*ufg8qk*_ga*ODg1OTk1ODMyLjE1OTk3NDU2MzE.*_ga_WS2VZYPC6G*MTYyOTExOTI5Mi4yOC4xLjE2MjkxMjE4OTguNTc"
    alt="Sizing examples">
    <br>
    <br>
            <p style="color: white; font-family: arial; margin-left: 2%; font-size: 30px;">
   Before you press your<br> transfer on the garment,<br> lightly fold the transfer in <br>half too help gauge the<br> middle.
            </p>
            <br>
        </div>
            <h1 style="font-family: BebasNeue_Regular; margin-left: 2%; font-size: 55px; color: black;">
                SIZING SUPPLIES
            </h1>
    <!--Klavio goes here-->
  <div class="klaviyo-form-Wx9bny"></div>
</section>
