<section class="section clothing-categories">
    <h2 class="section-title"><strong>Categories</strong></h2>
    <!--<p class="section-intro">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p> -->
    <div class=" flex-grid">
            <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/siser-easyweed-htv/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-siser-01.jpg?t=1621268467&_ga=2.176332133.1133977346.1621251000-1098918792.1573072587"
                        alt="Siser Easyweed Heat Transfer Vinyl">
                    <h4 class="home-category-banner"><strong>Siser HTV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/thermoflex/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-thermoflex-01.jpg?t=1621268468&_ga=2.150075638.1133977346.1621251000-1098918792.1573072587"
                        alt="ThermoFlex Plus Heat Transfer Vinyl">
                    <h4 class="home-category-banner"><strong>ThermoFlex Plus HTV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/walakut-htv/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-walakut-01.jpg?t=1621268469&_ga=2.150075638.1133977346.1621251000-1098918792.1573072587"
                        alt="WALAKut Heat Transfer Vinyl">
                    <h4 class="home-category-banner"><strong>WALAKut HTV</strong></h4>
                </a>
            </div>
        </div>
           <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/siser-easyweed-htv-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-standardvinyl-01.jpg?t=1620920209&_ga=2.100062614.907421027.1620643288-1098918792.1573072587"
                        alt="Heat Transfer Vinyl">
                    <h4 class="home-category-banner"><strong>Standard HTV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/neon-heat-transfer-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-neon-01.jpg?t=1620920210&_ga=2.63436199.907421027.1620643288-1098918792.1573072587"
                        alt="Neon Heat Transfer Vinyl">
                    <h4 class="home-category-banner"><strong>Neon HTV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/decorative-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-decorative-01.jpg?t=1620920212&_ga=2.63436199.907421027.1620643288-1098918792.1573072587"
                        alt="Decorative Heat Transfer Vinyl">
                    <h4 class="home-category-banner"><strong>Decorative HTV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/glitter-heat-transfer-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-glitter-01.jpg?t=1620920211&_ga=2.63436199.907421027.1620643288-1098918792.1573072587"
                        alt="Glitter Heat Transfer Vinyl">
                    <h4 class="home-category-banner"><strong>Glitter HTV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/patterned-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-patterns-01.jpg?t=1620920211&_ga=2.63436199.907421027.1620643288-1098918792.1573072587"
                        alt="Patterned Vinyl">
                    <h4 class="home-category-banner"><strong>Patterned HTV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/foil/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-foil-01.jpg?t=1620920213&_ga=2.63436199.907421027.1620643288-1098918792.1573072587"
                        alt="Heat Transfer Foil">
                    <h4 class="home-category-banner"><strong>Foil</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/craft-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-sheets-01.jpg?t=1620920213&_ga=2.63436199.907421027.1620643288-1098918792.1573072587"
                        alt="Crafter Heat Transfer Vinyl">
                    <h4 class="home-category-banner"><strong>Craft Vinyl</strong></h4>
                </a>
            </div>
        </div>
    </div>
</section>
