<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/5footrollbannersmaaalllll-01.jpg?t=1652280017&_gl=1*4knw52*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY1MjI3OTE4MC4xNjQuMS4xNjUyMjgwMDAxLjMx"
                    alt="Dye Sublimation">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>5 Foot Rolls</strong></h3>
                    <p>Shop our wide selection of 5ft rolls!</p>
                    <a href="/5-foot-rolls-htv/"
                        class="button button--outline button--large clr-white">Shop HTV</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-patternedhtv.jpg?t=1620921106&_ga=2.95540628.907421027.1620643288-1098918792.1573072587"
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Patterned Vinyl</strong></h3>
                    <p>Add style to your garments with patterned vinyl!</p>
                    <a href="/patterned-vinyl/" class="button button--outline button--large clr-white">Shop Patterned Vinyl</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-3dvinyl.jpg?t=1620922841&_ga=2.62469796.907421027.1620643288-1098918792.1573072587"
                    alt="Specialty Heat Transfer Vinyl">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Specialty Vinyl</strong></h3>
                    <p>Add unique look to your garments with Specialty HTV!</p>
                    <a href="/decorative-vinyl/"
                        class="button button--outline button--large clr-white">Shop Specialty Vinyl</a>
                </div>
            </div>
        </div>
    </div>
</section>
