<section class="section clothing-categories">
    <h2 class="section-title"><strong>Categories</strong></h2>
    <!--<p class="section-intro">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p> -->
    <div class=" flex-grid">
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/blog/" target="_blank">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/blogs.png?t=1620663674&_ga=2.268597874.2055254963.1620651288-885995832.1599745631"
                        alt="Blogs">
                    <h4 class="home-category-banner"><strong>Blogs</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/videos/" target="_blank">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/videos.png?t=1620663674&_ga=2.159652158.2055254963.1620651288-885995832.1599745631"
                        alt="Videos">
                    <h4 class="home-category-banner"><strong>Videos</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="https://www.heattransferwarehouse.com/edu-quick-tips/" target="_blank">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/how-to.png?t=1620663674&_ga=2.53099947.2055254963.1620651288-885995832.1599745631"
                        alt="Hobby and Crafts">
                    <h4 class="home-category-banner"><strong>Hobby and Crafts</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/edu-business-101/" target="_blank">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/business-101.png?t=1620663675&_ga=2.71833494.40903404.1621256084-885995832.1599745631"
                        alt="Business 101">
                    <h4 class="home-category-banner"><strong>Business 101</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/edu-custom-transfers-landing-page/" target="_blank">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/icons-10.png?t=1621893886&_ga=2.39776419.1894957873.1621860779-885995832.1599745631"
                        alt="Custom Transfers">
                    <h4 class="home-category-banner"><strong>Custom Transfers</strong></h4>
                </a>
            </div>
        </div> 
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="https://www.heattransferwarehouse.com/edu-all-about-htv/" target="_blank">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/all-things-htv.png?t=1622733727&_ga=2.146906418.465551489.1622552187-885995832.1599745631"
                        alt="All Things HTV">
                    <h4 class="home-category-banner"><strong>All Things HTV</strong></h4>
                </a>
            </div>
        </div>         
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/edu-sizing-guides/" target="_blank">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/icons-11.png?t=1621893854&_ga=2.45478948.1894957873.1621860779-885995832.1599745631"
                        alt="Sizing Guide">
                    <h4 class="home-category-banner"><strong>Sizing Guide</strong></h4>
                </a>
            </div>
        </div>          
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/high-quality-artwork/" target="_blank">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/icons-09.png?t=1621893853&_ga=2.45478948.1894957873.1621860779-885995832.1599745631"
                        alt="Vector Artwork">
                    <h4 class="home-category-banner"><strong>Redraw / Vector Conversion</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/htv-calculator/" target="_blank">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/icons-17.png?t=1621893851&_ga=2.45478948.1894957873.1621860779-885995832.1599745631"
                        alt="HTV Calculator">
                    <h4 class="home-category-banner"><strong>HTV Calculator</strong></h4>
                </a>        
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/svg-artwork/" target="_blank">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/svgicons-09.png?t=1649268704&_gl=1*6qk4pj*_ga*MTU0MjM1NTkwMC4xNjI3OTk5Mzk3*_ga_WS2VZYPC6G*MTY0OTI2Njg1MS4zMTIuMS4xNjQ5MjY5NDA0LjI5"
                        alt="SVG Artwork">
                    <h4 class="home-category-banner"><strong>SVG Artwork</strong></h4>
                </a>        
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="#">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/placeholder.png?t=1646931467"
                        alt="Coming Soon">
                    <h4 class="home-category-banner"><strong></strong></h4>
                </a>
            </div>
        </div>
    </div>
</section>
