<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-christmasstockingblanks.jpg?t=1638462107&_gl=1*8xbxo9*_ga*MTg1OTA1NzMwOS4xNjM2NDkzNjg3*_ga_WS2VZYPC6G*MTYzODQ2MjA5Mi42MS4xLjE2Mzg0NjM4OTguNTM."
                    alt="Christmas Dye Sub Blanks">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Christmas Blanks</strong></h3>
                    <p>Shop our Christmas Blanks!</p>
                    <a href="/christmas-blanks/"
                        class="button button--outline button--large clr-white">Shop Blanks</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/bca-landingpage-supastocks-christmas.jpg?t=1634929643&_gl=1*13nzgio*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzNDkyNTY0OC4yMzcuMS4xNjM0OTI4NzU1Ljk."
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Christmas Supacolors</strong></h3>
                    <p>Quality transfers with Christmas theme!</p>
                    <a href="/holidays/" class="button button--outline button--large clr-white">Shop Stock Supacolor</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-christmaspatterns.jpg?t=1632836502&_gl=1*183dw37*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzNDkyNTY0OC4yMzcuMS4xNjM0OTI4NzU1Ljk."
                    alt="Christmas Patterned Vinyl">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Patterned Vinyl</strong></h3>
                    <p>Shop our wide selection of Christmas vinyl!</p>
                    <a href="/winter-holidays-htv/"
                        class="button button--outline button--large clr-white">Shop Pattern Vinyl</a>
                </div>
            </div>
        </div>
    </div>
</section>
