<section class="section clothing-categories">
    <h2 class="section-title"><strong>Categories</strong></h2>
    <!--<p class="section-intro">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p> -->
    <div class=" flex-grid">
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/nature-patterned-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-420htv.png?t=1647891229&_gl=1*1tfu6fx*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0Nzg5MTE4Mi4xNC4xLjE2NDc4OTE0NzAuNTM."
                        alt="Breast Cancer Awareness Patterned Vinyl">
                    <h4 class="home-category-banner"><strong>Patterned Vinyl</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/cannabis/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-420supa.png?t=1647891229&_gl=1*d56d9f*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0Nzg5MTE4Mi4xNC4xLjE2NDc4OTE0NzAuNTM."
                        alt="Patriotic Supacolor Stock Transfers">
                    <h4 class="home-category-banner"><strong>Supacolor Transfers</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/nature-adhesive-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-420psv.png?t=1647891229&_gl=1*vtpl7z*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0Nzg5MTE4Mi4xNC4xLjE2NDc4OTE4NzAuNTM."
                        alt="Breast Cancer Awareness Adhesive Patterned Vinyl">
                    <h4 class="home-category-banner"><strong>Adhesive Patterns</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/nature-rhinestone-transfers/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-cannabisrhinestones.png?t=1647891230&_gl=1*14fej80*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0Nzg5MTE4Mi4xNC4xLjE2NDc4OTE4NzAuNTM."
                        alt="Patriotic Rhinestone Transfers">
                    <h4 class="home-category-banner"><strong>Rhinestone Transfers</strong></h4>
                </a>
            </div>
        </div>
    </div>
</section>

