<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/420-rhinestonebanner.png?t=1647891464&_gl=1*6varap*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0Nzg5MTE4Mi4xNC4xLjE2NDc4OTE0NzAuNTM."
                    alt="Application Fluids">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Rhinestone Transfers</strong></h3>
                    <a href="/nature-rhinestone-transfers/"
                        class="button button--outline button--large clr-white">Shop Rhinestones</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/420-patternbanner.png?t=1647891474&_gl=1*6varap*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0Nzg5MTE4Mi4xNC4xLjE2NDc4OTE0NzAuNTM."
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Patterned Vinyl</strong></h3>
                    <a href="/nature-patterned-vinyl/" class="button button--outline button--large clr-white">Shop Vinyl</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supacolor420.png?t=1647891527&_gl=1*1xuxb66*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY0Nzg5MTE4Mi4xNC4xLjE2NDc4OTE0NzAuNTM."
                    alt="Heat Press Teflon Pillows">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Supacolor Transfers</strong></h3>
                    <a href="/cannabis/"
                        class="button button--outline button--large clr-white">Shop Stock Transfers</a>
                </div>
            </div>
        </div>
    </div>
</section>
