<section class="section clothing-panels">
    <div class="flex-grid">

                <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-drinkware.jpg?t=1621372176&_ga=2.108130882.1133977346.1621251000-1098918792.1573072587"
                    alt="Sublimation Drinkware Blanks">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Drinkware Blanks</strong></h3>
                    <p>Personalize and decorate your very own cups, mugs, and bottles!</p>
                    <a href="/drinkware/"
                        class="button button--outline button--large clr-white">Shop Drinkware</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-walablanks.jpg?t=1621372177&_ga=2.108130882.1133977346.1621251000-1098918792.1573072587"
                    alt="WALABlanks">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>WALABlanks</strong></h3>
                    <p>Shop our wide selection of in house brand blanks!</p>
                    <a href="/walablanks/" class="button button--outline button--large clr-white">Shop WALABlanks</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-blanksflatware.jpg?t=1621372178&_ga=2.108130882.1133977346.1621251000-1098918792.1573072587"
                    alt="Flat Surface Sublimation Blanks">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Flat Surface Blanks</strong></h3>
                    <p>Perfect blanks for easy heat pressing and application! </p>
                    <a href="/flat-surface-blanks/"
                        class="button button--outline button--large clr-white">Shop Flat Surface Blanks</a>
                </div>
            </div>
        </div>
    </div>
</section>
