<div class="form-field {{dashcase label}}" id="{{id}}" data-validation="{{validation}}" {{#if private_id}}data-type="{{private_id}}"{{/if}}>
	{{#if label '===' 'Tax ID'}}
		<label class="form-label" for="{{id}}_input">{{label}}
			{{#if required}}<small>{{lang 'common.required' }}</small>{{/if}}
			<i class="tooltip-handle"><svg width="20px" height="20px" viewBox="2 2 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"><defs></defs><path d="M12,2 C6.48,2 2,6.48 2,12 C2,17.52 6.48,22 12,22 C17.52,22 22,17.52 22,12 C22,6.48 17.52,2 12,2 L12,2 Z M13,17 L11,17 L11,11 L13,11 L13,17 L13,17 Z M13,9 L11,9 L11,7 L13,7 L13,9 L13,9 Z" id="Shape" stroke="none" fill="#006bd6" fill-rule="evenodd"></path></svg></i>
			<div class="tooltip-content">
				<p>Please respond to the account registration e-mail or email <a href="mailto:info@heattransferwarehouse.com">info@heattransferwarehouse.com</a> with a photo of your sales tax ID document, once you have finished this registration process:</p>
				<ul>
					<li>We will email you back to confirm once it has been received and saved to your account</li>
					<li>Providing your Sales Tax ID on this registration page does <strong>NOT</strong> automatically register your exempt status with our company. We must receive the photo copy and enter it in your account</li>
					<li>Any tax collected on orders placed before validation will not be refunded</li>
				</ul>
			</div>
		</label>
	{{else}}
		<label class="form-label" for="{{id}}_input">{{label}}
			{{#if required}}<small>{{lang 'common.required' }}</small>{{/if}}
		</label>
	{{/if}}
    <input type="text" id="{{id}}_input" data-label="{{label}}" name="{{name}}" {{#if value}} value="{{value}}"{{/if}} {{#if placeholder}} placeholder="{{placeholder}}"{{/if}} class="form-input" aria-required="{{required}}" {{#if private_id}}data-field-type="{{private_id}}"{{/if}}>
</div>
