<div class="tabs-contents" data-tab=""><button class="collapsible" tabindex="0" type="button" data-tab-description=""> <span id="docs-internal-guid-4568e6cc-7fff-ea8d-c799-1447bb2a4d30"> <span><strong>Artwork Guidelines &amp; Policy</strong></span></span></button>
    <div id="tab-description" class="tab-content has-jsContent">
    <p><strong><span style="font-size: large;">When using this designer, you agree:</span></strong></p>
    <p><span style="font-size: large;">-&nbsp;I acknowledge and have read our Terms and Services</span></p>
    <p><span style="font-size: large;">-&nbsp;<span>I have sent my artwork ready to print</span></span></p>
    <p><span style="font-size: large;"><span>- Vector file (eps, ai pdf) or 300 dpi resolution png</span></span></p>
    <p><span style="font-size: large;">- Design sent without a background color</span></p>
    <p><span style="font-size: large;">- CMYK color format</span></p>
    <p><span style="font-size: large;">- Design does NOT include drop shadows, glows, transparencies</span></p>
    <p><span style="font-size: large;">- Any details less than 1 point thick will require an outline / backing</span></p>
    <p><span style="font-size: large;">- A<span>ny artwork submitted NOT meeting the requirements is subject to delays or cancellation</span></span></p>
    <p><span style="font-size: large;">The<strong> Red Outline</strong> is the size of the sheet!</span></p>
    <p><strong><span style="font-size: large;">Make sure your design remains within the red lines of the designer! Any part of the design outside the red lines will NOT be printed!</span></strong></p>
    </div>
</div>

<div class="tabs-contents" data-tab=""><button class="collapsible" tabindex="0" type="button" data-tab-description=""> <span id="docs-internal-guid-4568e6cc-7fff-ea8d-c799-1447bb2a4d30"> <span><strong>FAQ</strong></span></span></button>
    <div id="tab-description" class="tab-content has-jsContent">
    <p><strong><span style="font-size: large;">Q: What makes Supacolor unique?</span></strong></p>
    <p><span style="font-size: large;">A: Supacolor has very few limitations on what we can print. Our process allows us to print millions of colors and gradients to reproduce any logo, no matter how complex. Print fine text as small as 1 mm tall without requiring ugly traps or borders.</span></p>
    <p><strong><span style="font-size: large;">Q: How durable is Supacolor?</span></strong></p>
    <p><span style="font-size: large;">A: Supacolor has been wash tested to survive 50 plus washes. We stopped testing at 70 washes. These transfers are made to last.</span></p>
    <p><strong><span style="font-size: large;">Q: How do I order Supacolor?</span></strong></p>
    <p><span style="font-size: large;">A: Customers are requested to enter the orders online to expedite the processing of a job and to ensure accuracy. Heat Transfer Warehouse does not provide an art proof as a part of its ordering process.</span></p>
    <p><strong><span style="font-size: large;">Q: What do I need to know before I order Supacolor?</span></strong></p>
    <p><span style="font-size: large;">A: You will need to know the fabric composite for the garment or product to be decorated, along with the color of it. This is important so that we may construct the best Supacolor transfer for your project.</span></p>
    <p><strong><span style="font-size: large;">Q: Does Supacolor have a minimum order quantity?</span></strong></p>
    <p><span style="font-size: large;">A: The minimum order quantity is 10 pieces per design. You cannot split the minimum between multiple designs or accommodate more than one design within a print area.</span></p>
    <p><strong><span style="font-size: large;">Q: How is Supacolor priced?</span></strong></p>
    <p><span style="font-size: large;">A: Supacolor is priced based on size, quantity, and transfer type. We only sell custom printed transfers with application instructions ready to be pressed. We do not sell transfers by the sheet or by the gang.</span></p>
    <p><strong><span style="font-size: large;">Q: Can I use an Easy press or iron?</span></strong></p>
    <p><span style="font-size: large;">A: For best results we do recommend using a full heat press machine to ensure adequate pressure.</span></p>
    <p><strong><span style="font-size: large;">Q: Is Supacolor Eco-Friendly?</span></strong></p>
    <p><span style="font-size: large;">A: Yes, Supacolor uses water-based inks and is produced without harsh or toxic chemicals. Our PET film that we print on is recyclable.</span></p>
    <p><strong><span style="font-size: large;">Q: Does Supacolor print CMYK, RGB or PMS color match?</span></strong></p>
    <p><span style="font-size: large;">A: Supacolor’s default print process is CMYK. We run a six-color process that gives Supacolor transfers more range in the color spectrum. We have the ability to Pantone (PMS) color match. All you need to do is indicate the colors in your order.</span></p>
    <p><strong><span style="font-size: large;">Q: Are the template sizes given the only sizes available?</span></strong></p>
    <p><span style="font-size: large;">A: Yes, you must pick from one of our templates. Your design can be any size up to 11.7" x 16.5". Select the smallest size category that accommodates your design, then select the desired quantity to calculate your price within the table.</span></p>
    <p><strong><span style="font-size: large;">Q: Do you supply heat transfer paper/sheets?</span></strong></p>
    <p><span style="font-size: large;">A: We do not supply materials or the machinery to make Supacolor.</span></p>
    <p><strong><span style="font-size: large;">Q: Do you make the t-shirts with the logos already on them and sell wholesale?</span></strong></p>
    <p><span style="font-size: large;">A: We do not provide pressing services.</span></p>
    <p><strong><span style="font-size: large;">Q: What are my shipping options?</span></strong></p>
    <p><span style="font-size: large;">A: Heat Transfer Warehouse will ship your order FedEx 2 Day Air once production is complete.</span></p>
    <p><strong><span style="font-size: large;">Q: Do you ship internationally?</span></strong></p>
    <p><span style="font-size: large;">A: Yes, please email us at supacolor@heattransferwarehouse.com and we can assist you and find the best shipping option for you.</span></p>
    <p><strong><span style="font-size: large;">Q: Do I need to send my artwork reversed / mirrored?</span></strong></p>
    <p><span style="font-size: large;">A: No you do not need to send your artwork reversed or mirror. We proof all transfers right reading to ensure you can clearly see your transfer and in case there are any spelling mistakes. Please see our Youtube video of How to Press a Supacolor/span></p>
    </div>
</div>

<div class="tabs-contents" data-tab=""><button class="collapsible" tabindex="0" type="button" data-tab-description=""> <span id="docs-internal-guid-4568e6cc-7fff-ea8d-c799-1447bb2a4d30"> <span><strong>Pricing</strong></span></span></button>
    <div id="tab-description" class="tab-content has-jsContent">
<h2>&nbsp;Supacolor Wearables</h2>
<table style="width: 880px;" border="5" cellspacing="20" cellpadding="5">
<tbody>
<tr>
<td><strong>&nbsp;Quantity</strong></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';"><strong>1.5" x 1.5"</strong></span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';"><strong>2.5" x 2.5"</strong></span></td>
<td><span style="font-family: 'arial black', 'avant garde';">4" x 4"<strong>&nbsp;</strong></span></td>
<td><strong>&nbsp;</strong><span style="font-family: 'arial black', 'avant garde';">5.8" x 8.3"</span></td>
<td><span style="font-family: 'arial black', 'avant garde';">11.7" x 4.25"</span>&nbsp;</td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">8.3" x 11.7"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">16.5" x 5.85"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';"><strong>11.7" x 11.7"</strong></span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">11.7" x 16.5"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';"><strong>Gang Sheet</strong></span></td>
</tr>
<tr>
<td><strong>&nbsp;10</strong></td>
<td>&nbsp;$3.40</td>
<td>&nbsp;$3.84</td>
<td>&nbsp;$4.20</td>
<td>&nbsp;$5.58</td>
<td>&nbsp;$5.58</td>
<td>&nbsp;$6.67</td>
<td>&nbsp;$6.67</td>
<td>&nbsp;$8.37</td>
<td>&nbsp;$10.07</td>
<td>&nbsp;$12.08</td>
</tr>
<tr>
<td>&nbsp;<strong>20</strong></td>
<td>&nbsp;$2.84</td>
<td>&nbsp;$3.20</td>
<td>&nbsp;$3.50</td>
<td>&nbsp;$4.65</td>
<td>&nbsp;$4.65</td>
<td>&nbsp;$5.55</td>
<td>$5.55&nbsp;</td>
<td>&nbsp;$6.97</td>
<td>&nbsp;$8.39</td>
<td>&nbsp;$10.07</td>
</tr>
<tr>
<td>&nbsp;<strong>50</strong></td>
<td>&nbsp;$1.69</td>
<td>&nbsp;$2.11</td>
<td>&nbsp;$2.54</td>
<td>&nbsp;$3.32</td>
<td>&nbsp;$3.32</td>
<td>&nbsp;$4.29</td>
<td>$4.29</td>
<td>&nbsp;$5.52</td>
<td>&nbsp;$6.76</td>
<td>&nbsp;$8.12</td>
</tr>
<tr>
<td>&nbsp;<strong>100</strong></td>
<td>&nbsp;$1.13</td>
<td>&nbsp;$1.45</td>
<td>&nbsp;$1.87</td>
<td>&nbsp;$2.29</td>
<td>&nbsp;$2.29</td>
<td>&nbsp;$2.96</td>
<td>&nbsp;$2.96</td>
<td>&nbsp;$3.83</td>
<td>&nbsp;$4.71</td>
<td>&nbsp;$5.65</td>
</tr>
<tr>
<td>&nbsp;<strong>200</strong></td>
<td>&nbsp;$0.90</td>
<td>&nbsp;$1.21</td>
<td>&nbsp;$1.63</td>
<td>&nbsp;$1.93</td>
<td>&nbsp;$1.93</td>
<td>&nbsp;$2.42</td>
<td>&nbsp;$2.42</td>
<td>&nbsp;$3.17</td>
<td>&nbsp;$3.92</td>
<td>&nbsp;$4.71</td>
</tr>
<tr>
<td>&nbsp;<strong>300</strong></td>
<td>&nbsp;$0.72</td>
<td>&nbsp;$1.01</td>
<td>&nbsp;$1.44</td>
<td>&nbsp;$1.74</td>
<td>&nbsp;$1.74</td>
<td>&nbsp;$2.22</td>
<td>&nbsp;$2.22</td>
<td>&nbsp;$2.92</td>
<td>&nbsp;$3.61</td>
<td>&nbsp;$4.34</td>
</tr>
<tr>
<td>&nbsp;<strong>500</strong></td>
<td>&nbsp;$0.65</td>
<td>&nbsp;$0.94</td>
<td>&nbsp;$1.36</td>
<td>&nbsp;$1.61</td>
<td>&nbsp;$1.61</td>
<td>&nbsp;$2.09</td>
<td>&nbsp;$2.09</td>
<td>&nbsp;$2.75</td>
<td>&nbsp;$3.42</td>
<td>&nbsp;$4.11</td>
</tr>
<tr>
<td>&nbsp;<strong>1000</strong></td>
<td>&nbsp;$0.59</td>
<td>&nbsp;$0.87</td>
<td>&nbsp;$1.29</td>
<td>&nbsp;$1.47</td>
<td>&nbsp;$1.47</td>
<td>&nbsp;$1.96</td>
<td>&nbsp;$1.96</td>
<td>&nbsp;$2.63</td>
<td>&nbsp;$3.28</td>
<td>&nbsp;$3.94</td>
</tr>
<tr>
<td>&nbsp;<strong>2500</strong></td>
<td>&nbsp;$0.56</td>
<td>&nbsp;$0.83</td>
<td>&nbsp;$1.24</td>
<td>&nbsp;$1.40</td>
<td>&nbsp;$1.40</td>
<td>&nbsp;$1.88</td>
<td>&nbsp;$1.88</td>
<td>&nbsp;$2.54</td>
<td>&nbsp;$3.21</td>
<td>&nbsp;$3.85</td>
</tr>
<tr>
<td>&nbsp;<strong>5000+</strong></td>
<td>&nbsp;$0.54</td>
<td>&nbsp;$0.80</td>
<td>&nbsp;$1.21</td>
<td>&nbsp;$1.33</td>
<td>&nbsp;$1.33</td>
<td>&nbsp;$1.81</td>
<td>&nbsp;$1.81</td>
<td>&nbsp;$2.48</td>
<td>&nbsp;$3.14</td>
<td>&nbsp;$3.77</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h2>&nbsp;Supacolor Blocker</h2>
<table style="width: 880px;" border="5" cellspacing="20" cellpadding="5">
<tbody>
<tr>
<td><strong>&nbsp;Quantity</strong></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';"><strong>1.5" x 1.5"</strong></span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';"><strong>2.5" x 2.5"</strong></span></td>
<td><span style="font-family: 'arial black', 'avant garde';">4" x 4"<strong>&nbsp;</strong></span></td>
<td><strong>&nbsp;</strong><span style="font-family: 'arial black', 'avant garde';">5.8" x 8.3"</span></td>
<td><span style="font-family: 'arial black', 'avant garde';">11.7" x 4.25"</span>&nbsp;</td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">8.3" x 11.7"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">16.5" x 5.85"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">11.7" x 11.7"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">11.7" x 16.5"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';"><strong>Gang Sheet</strong></span></td>
</tr>
<tr>
<td>&nbsp;<strong>10</strong></td>
<td>&nbsp;$3.69</td>
<td>&nbsp;$<span>5.15</span></td>
<td>&nbsp;$4.49</td>
<td>&nbsp;$5.80</td>
<td>&nbsp;$5.80</td>
<td>&nbsp;$7.17</td>
<td>&nbsp;$7.17</td>
<td>&nbsp;$9.06</td>
<td>&nbsp;$10.94</td>
<td>&nbsp;$13.13</td>
</tr>
<tr>
<td>&nbsp;<strong>20</strong></td>
<td>&nbsp;$3.08</td>
<td>&nbsp;$<span>4.29</span></td>
<td>&nbsp;$3.74</td>
<td>&nbsp;$<span>4.83</span></td>
<td>&nbsp;$4.83</td>
<td>&nbsp;$5.98</td>
<td>&nbsp;$5.98</td>
<td>&nbsp;$7.55</td>
<td>&nbsp;$9.12</td>
<td>&nbsp;$10.94</td>
</tr>
<tr>
<td>&nbsp;<strong>50</strong></td>
<td>&nbsp;$1.87</td>
<td>&nbsp;$<span>2.95</span></td>
<td>&nbsp;$2.78</td>
<td>&nbsp;$<span>3.68</span></td>
<td>&nbsp;$3.68</td>
<td>&nbsp;$4.71</td>
<td>$4.71</td>
<td>&nbsp;$6.10</td>
<td>&nbsp;$7.49</td>
<td>&nbsp;$8.99</td>
</tr>
<tr>
<td>&nbsp;<strong>100</strong></td>
<td>&nbsp;$1.42</td>
<td>&nbsp;$<span>2.18</span></td>
<td>&nbsp;$2.17</td>
<td>&nbsp;$2.72</td>
<td>&nbsp;$2.72</td>
<td>&nbsp;$3.38</td>
<td>&nbsp;$3.38</td>
<td>&nbsp;$4.41</td>
<td>&nbsp;$5.43</td>
<td>&nbsp;$6.52</td>
</tr>
<tr>
<td>&nbsp;<strong>200</strong></td>
<td>&nbsp;$1.12</td>
<td>&nbsp;$<span>1.81</span></td>
<td>&nbsp;$1.87</td>
<td>&nbsp;$2.29</td>
<td>&nbsp;$2.29</td>
<td>&nbsp;$2.90</td>
<td>&nbsp;$2.90</td>
<td>&nbsp;$3.77</td>
<td>&nbsp;$4.65</td>
<td>&nbsp;$5.58</td>
</tr>
<tr>
<td>&nbsp;<strong>300</strong></td>
<td>&nbsp;$0.95</td>
<td>&nbsp;$<span>1.56</span></td>
<td>&nbsp;$1.68</td>
<td>&nbsp;$2.04</td>
<td>&nbsp;$2.04</td>
<td>&nbsp;$2.64</td>
<td>&nbsp;$2.64</td>
<td>&nbsp;$3.49</td>
<td>&nbsp;$4.33</td>
<td>&nbsp;$5.20</td>
</tr>
<tr>
<td>&nbsp;<strong>500</strong></td>
<td>&nbsp;$0.87</td>
<td>&nbsp;$<span>1.47</span></td>
<td>&nbsp;$1.61</td>
<td>&nbsp;$1.97</td>
<td>&nbsp;$1.97</td>
<td>&nbsp;$2.51</td>
<td>&nbsp;$2.51</td>
<td>&nbsp;$3.32</td>
<td>&nbsp;$4.14</td>
<td>&nbsp;$4.97</td>
</tr>
<tr>
<td>&nbsp;<strong>1000</strong></td>
<td>&nbsp;$0.81</td>
<td>&nbsp;$<span>1.39</span></td>
<td>&nbsp;$1.53</td>
<td>&nbsp;$1.84</td>
<td>&nbsp;$1.84</td>
<td>&nbsp;$2.38</td>
<td>&nbsp;$2.38</td>
<td>&nbsp;$3.19</td>
<td>&nbsp;$4.01</td>
<td>&nbsp;$4.81</td>
</tr>
<tr>
<td>&nbsp;<strong>2500</strong></td>
<td>&nbsp;$0.78</td>
<td>&nbsp;$<span>1.34</span></td>
<td>&nbsp;$1.49</td>
<td>&nbsp;$1.76</td>
<td>&nbsp;$1.76</td>
<td>&nbsp;$2.31</td>
<td>&nbsp;$2.31</td>
<td>&nbsp;$3.12</td>
<td>&nbsp;$3.94</td>
<td>&nbsp;$4.73</td>
</tr>
<tr>
<td>&nbsp;<strong>5000+</strong></td>
<td>&nbsp;$0.75</td>
<td>&nbsp;$<span>1.30</span></td>
<td>&nbsp;$1.45</td>
<td>&nbsp;$1.69</td>
<td>&nbsp;$1.69</td>
<td>&nbsp;$2.23</td>
<td>&nbsp;$2.23</td>
<td>&nbsp;$3.06</td>
<td>&nbsp;$3.86</td>
<td>&nbsp;$4.64</td>
</tr>
</tbody>
</table>
<h2>&nbsp;Supacolor Soft Shell Blocker</h2>
<table style="width: 880px;" border="5" cellspacing="20" cellpadding="5">
<tbody>
<tr>
<td><strong>&nbsp;Quantity</strong></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';"><strong>1.5" x 1.5"</strong></span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';"><strong>2.5" x 2.5"</strong></span></td>
<td><span style="font-family: 'arial black', 'avant garde';">4" x 4"<strong>&nbsp;</strong></span></td>
<td><strong>&nbsp;</strong><span style="font-family: 'arial black', 'avant garde';">5.8" x 8.3"</span></td>
<td><span style="font-family: 'arial black', 'avant garde';">11.7" x 4.25"</span>&nbsp;</td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">8.3" x 11.7"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">16.5" x 5.85"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">11.7" x 11.7"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">11.7" x 16.5"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">Gang Sheet</span></td>
</tr>
<tr>
<td>&nbsp;<strong>10</strong></td>
<td>&nbsp;$3.69</td>
<td>&nbsp;$5.15&nbsp;</td>
<td>&nbsp;$4.49</td>
<td>&nbsp;$5.80</td>
<td>&nbsp;$5.80</td>
<td>&nbsp;$7.17</td>
<td>&nbsp;$7.17</td>
<td>&nbsp;$9.06</td>
<td>&nbsp;$10.94</td>
<td>&nbsp;$13.13</td>
</tr>
<tr>
<td>&nbsp;<strong>20</strong></td>
<td>&nbsp;$3.08</td>
<td>&nbsp;$4.29&nbsp;</td>
<td>&nbsp;$3.74</td>
<td>&nbsp;$4.60</td>
<td>&nbsp;$4.83</td>
<td>&nbsp;$5.98</td>
<td>&nbsp;$5.98</td>
<td>&nbsp;$7.55</td>
<td>&nbsp;$9.12</td>
<td>&nbsp;$10.94</td>
</tr>
<tr>
<td>&nbsp;<strong>50</strong></td>
<td>&nbsp;$1.87</td>
<td>&nbsp;$2.95</td>
<td>&nbsp;$2.78</td>
<td>&nbsp;$3.51</td>
<td>&nbsp;$3.68</td>
<td>&nbsp;$4.71</td>
<td>$4.71</td>
<td>&nbsp;$6.10</td>
<td>&nbsp;$7.49</td>
<td>&nbsp;$8.99</td>
</tr>
<tr>
<td>&nbsp;<strong>100</strong></td>
<td>&nbsp;$1.42</td>
<td>&nbsp;$2.18</td>
<td>&nbsp;$2.17</td>
<td>&nbsp;$2.59</td>
<td>&nbsp;$2.72</td>
<td>&nbsp;$3.38</td>
<td>&nbsp;$3.38</td>
<td>&nbsp;$4.41</td>
<td>&nbsp;$5.43</td>
<td>&nbsp;$6.52</td>
</tr>
<tr>
<td>&nbsp;<strong>200</strong></td>
<td>&nbsp;$1.12</td>
<td>&nbsp;$1.81</td>
<td>&nbsp;$1.87</td>
<td>&nbsp;$2.19</td>
<td>&nbsp;$2.29</td>
<td>&nbsp;$2.90</td>
<td>&nbsp;$2.90</td>
<td>&nbsp;$3.77</td>
<td>&nbsp;$4.65</td>
<td>&nbsp;$5.58</td>
</tr>
<tr>
<td>&nbsp;<strong>300</strong></td>
<td>&nbsp;$0.95</td>
<td>&nbsp;$1.56</td>
<td>&nbsp;$1.68</td>
<td>&nbsp;$1.94</td>
<td>&nbsp;$2.04</td>
<td>&nbsp;$2.64</td>
<td>&nbsp;$2.64</td>
<td>&nbsp;$3.49</td>
<td>&nbsp;$4.33</td>
<td>&nbsp;$5.20</td>
</tr>
<tr>
<td>&nbsp;<strong>500</strong></td>
<td>&nbsp;$0.87</td>
<td>&nbsp;$1.47</td>
<td>&nbsp;$1.61</td>
<td>&nbsp;$1.87</td>
<td>&nbsp;$1.97</td>
<td>&nbsp;$2.51</td>
<td>&nbsp;$2.51</td>
<td>&nbsp;$3.32</td>
<td>&nbsp;$4.14</td>
<td>&nbsp;$4.97</td>
</tr>
<tr>
<td>&nbsp;<strong>1000</strong></td>
<td>&nbsp;$0.81</td>
<td>&nbsp;$1.39</td>
<td>&nbsp;$1.53</td>
<td>&nbsp;$1.75</td>
<td>&nbsp;$1.84</td>
<td>&nbsp;$2.38</td>
<td>&nbsp;$2.38</td>
<td>&nbsp;$3.19</td>
<td>&nbsp;$4.01</td>
<td>&nbsp;$4.81</td>
</tr>
<tr>
<td>&nbsp;<strong>2500</strong></td>
<td>&nbsp;$0.78</td>
<td>&nbsp;$1.34</td>
<td>&nbsp;$1.49</td>
<td>&nbsp;$1.68</td>
<td>&nbsp;$1.76</td>
<td>&nbsp;$2.31</td>
<td>&nbsp;$2.31</td>
<td>&nbsp;$3.12</td>
<td>&nbsp;$3.94</td>
<td>&nbsp;$4.73</td>
</tr>
<tr>
<td>&nbsp;<strong>5000+</strong></td>
<td>&nbsp;$0.75</td>
<td>&nbsp;$1.30</td>
<td>&nbsp;$1.45</td>
<td>&nbsp;$1.61</td>
<td>&nbsp;$1.69</td>
<td>&nbsp;$2.23</td>
<td>&nbsp;$2.23</td>
<td>&nbsp;$3.06</td>
<td>&nbsp;$3.86</td>
<td>&nbsp;$4.64</td>
</tr>
</tbody>
</table>
<h2>&nbsp;Supacolor Headwear</h2>
<table style="width: 880px;" border="5" cellspacing="20" cellpadding="5">
<tbody>
<tr>
<td>&nbsp;<strong>Quantity</strong></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">2.5"x2.5"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">4.7"x2.8"</span></td>
</tr>
<tr>
<td>&nbsp;<strong>10</strong></td>
<td>&nbsp;$2.75</td>
<td>&nbsp;$2.97</td>
</tr>
<tr>
<td>&nbsp;<strong>20</strong></td>
<td>&nbsp;$2.29</td>
<td>&nbsp;$2.48</td>
</tr>
<tr>
<td>&nbsp;<strong>50</strong></td>
<td>&nbsp;$1.15</td>
<td>&nbsp;$1.33</td>
</tr>
<tr>
<td>&nbsp;<strong>100</strong></td>
<td>&nbsp;$0.81</td>
<td>&nbsp;$0.99</td>
</tr>
<tr>
<td>&nbsp;<strong>200</strong></td>
<td>&nbsp;$0.66</td>
<td>&nbsp;$0.85</td>
</tr>
<tr>
<td>&nbsp;<strong>300</strong></td>
<td>&nbsp;$0.57</td>
<td>&nbsp;$0.75</td>
</tr>
<tr>
<td>&nbsp;<strong>500</strong></td>
<td>&nbsp;$0.53</td>
<td>&nbsp;$0.71</td>
</tr>
<tr>
<td>&nbsp;<strong>1000</strong></td>
<td>&nbsp;$0.50</td>
<td>&nbsp;$0.68</td>
</tr>
<tr>
<td>&nbsp;<strong>2500</strong></td>
<td>&nbsp;$0.46</td>
<td>&nbsp;$0.64</td>
</tr>
<tr>
<td>&nbsp;<strong>5000+</strong></td>
<td>&nbsp;$0.42</td>
<td>&nbsp;$0.60</td>
</tr>
</tbody>
</table>
<h2>&nbsp;Supacolor Promotional</h2>
<table style="width: 880px;" border="5" cellspacing="20" cellpadding="5">
<tbody>
<tr>
<td><strong>&nbsp;Quantity</strong></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">4.1"x5.8"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">5.8"x8.3"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">11.7"x4.25"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">8.3"x11.7"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">16.5"x5.85"</span></td>
<td>&nbsp;<span style="font-family: 'arial black', 'avant garde';">11.7"x16.5"</span></td>
</tr>
<tr>
<td>&nbsp;<strong>10</strong></td>
<td>&nbsp;$3.04</td>
<td>&nbsp;$3.26</td>
<td>&nbsp;$3.26</td>
<td>&nbsp;$3.78</td>
<td>&nbsp;$3.78</td>
<td>&nbsp;$7.25</td>
</tr>
<tr>
<td>&nbsp;<strong>20</strong></td>
<td>&nbsp;$2.54</td>
<td>&nbsp;$2.72</td>
<td>&nbsp;$2.72</td>
<td>&nbsp;$3.15</td>
<td>&nbsp;$3.15</td>
<td>&nbsp;$6.04</td>
</tr>
<tr>
<td>&nbsp;<strong>50</strong></td>
<td>&nbsp;$1.57</td>
<td>&nbsp;$1.75</td>
<td>&nbsp;$1.75</td>
<td>&nbsp;$2.15</td>
<td>&nbsp;$2.15</td>
<td>&nbsp;$4.47</td>
</tr>
<tr>
<td>&nbsp;<strong>100</strong></td>
<td>&nbsp;$1.21</td>
<td>&nbsp;$1.33</td>
<td>&nbsp;$1.33</td>
<td>&nbsp;$1.75</td>
<td>&nbsp;$1.75</td>
<td>&nbsp;$3.86</td>
</tr>
<tr>
<td>&nbsp;<strong>200</strong></td>
<td>&nbsp;$1.03</td>
<td>&nbsp;$1.15</td>
<td>&nbsp;$1.15</td>
<td>&nbsp;$1.57</td>
<td>&nbsp;$1.57</td>
<td>&nbsp;$3.68</td>
</tr>
<tr>
<td>&nbsp;<strong>300</strong></td>
<td>&nbsp;$0.89</td>
<td>&nbsp;$1.01</td>
<td>&nbsp;$1.01</td>
<td>&nbsp;$1.44</td>
<td>&nbsp;$1.44</td>
<td>&nbsp;$3.55</td>
</tr>
<tr>
<td>&nbsp;<strong>500</strong></td>
<td>&nbsp;$0.86</td>
<td>&nbsp;$0.98</td>
<td>&nbsp;$0.98</td>
<td>&nbsp;$1.40</td>
<td>&nbsp;$1.40</td>
<td>&nbsp;$3.51</td>
</tr>
<tr>
<td>&nbsp;<strong>1000</strong></td>
<td>&nbsp;$0.82</td>
<td>&nbsp;$0.94</td>
<td>&nbsp;$0.94</td>
<td>&nbsp;$1.36</td>
<td>&nbsp;$1.36</td>
<td>&nbsp;$3.48</td>
</tr>
<tr>
<td>&nbsp;<strong>2500</strong></td>
<td>&nbsp;$0.78</td>
<td>&nbsp;$0.91</td>
<td>&nbsp;$0.91</td>
<td>&nbsp;$1.33</td>
<td>&nbsp;$1.33</td>
<td>&nbsp;$3.44</td>
</tr>
<tr>
<td>&nbsp;<strong>5000+</strong></td>
<td>&nbsp;$0.75</td>
<td>&nbsp;$0.87</td>
<td>&nbsp;$0.87</td>
<td>&nbsp;$1.29</td>
<td>&nbsp;$1.29</td>
<td>&nbsp;$3.41</td>
</tr>
</tbody>
</table>
    </div>
</div>
