<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/graduationhtv-landingpage-01-1-.jpg?t=1648155561&_gl=1*x0usyh*_ga*MTc2NjI3MzEyOS4xNjQ2NzczNTYy*_ga_WS2VZYPC6G*MTY0ODE1NTE2Mi4zOC4xLjE2NDgxNTU1NjMuNjA."
                    alt="Dye Sublimation">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Heat Transfer Vinyl</strong></h3>
                    <p>Shop our wide selection of vinyl!</p>
                    <a href="/heat-transfer-vinyl/"
                        class="button button--outline button--large clr-white">Shop Heat Transfer Vinyl</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/graduationhtv-landingpage-01.jpg?t=1648155560&_gl=1*x0usyh*_ga*MTc2NjI3MzEyOS4xNjQ2NzczNTYy*_ga_WS2VZYPC6G*MTY0ODE1NTE2Mi4zOC4xLjE2NDgxNTU1NjMuNjA."
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Stock Rhinestones</strong></h3>
                    <p>Add shine to your shirts with rhinestones!</p>
                    <a href="/graduation-homecoming-rhinestone-transfers/" class="button button--outline button--large clr-white">Shop Rhinestones</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/graduationsupacolor-landingpage.png?t=1648155560&_gl=1*x0usyh*_ga*MTc2NjI3MzEyOS4xNjQ2NzczNTYy*_ga_WS2VZYPC6G*MTY0ODE1NTE2Mi4zOC4xLjE2NDgxNTU1NjMuNjA."
                    alt="Specialty Heat Transfer Vinyl">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Supacolor Transfers</strong></h3>
                    <p>Your favorite transfer for graduation!</p>
                    <a href="/graduation-supacolor-transfers/"
                        class="button button--outline button--large clr-white">Shop Supacolors</a>
                </div>
            </div>
        </div>
    </div>
</section>
