<section class="section clothing-categories">
    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/hobby-and-crafts-banner-01.jpg?t=1623078854&_ga=2.241463554.1496120757.1623070507-885995832.1599745631"
        alt="Hobby and Crafts" class="center">
     <h1 style="font-family: BebasNeue_Regular; margin-left: 2%; font-size: 55px; color: black;"><b></b>BE INSPIRED AND INSPIRE</b></h1>
    <p style="text-align: left; font-family: Century Gothic; margin-left: 2%; font-size: 25px; color: black;">Looking for a community where you can find ideas and inspire others with your creativity? Heat Transfer Warehouse has a
    ton of resources for you. Find all the new trends, new products and even how you can use the products you may already
    have. We are very active on our social media platforms and if we haven’t thought of something, our partners sure have!</p>
      <!--Klavio goes here-->
    <div class="klaviyo-form-S2FP83"></div>
</section>
