<section class="section clothing-panels">
    <nav class="popular-brands text-center">
        <a class="brand-item"
            href="/inksoft-supacolor-wearables/">
            <div class="img-container">
                <img class="brand-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supalanding-hw-badge-01.png"
                    alt="Wearables">
            </div>
            <span class="title">Wearables</span>
            <ul>
                <li><strong>BEST FULL COLOR TRANSFER</strong></li>
                <li>Unlimited Colors & Gradients</li>
                <li>Available in 12 Sizes</li>
            </ul>
        </a>
        <a class="brand-item"
            href="/inksoft-supacolor-sub-blocker/">
            <div class="img-container">
                <img class="brand-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-bl-badge.png"
                    alt="Sub Blocker">
            </div>
            <span class="title">Sub Blocker</span>
        </a>
        <a class="brand-item"
            href="/inksoft-supacolor-soft-shell-blocker/">
            <div class="img-container">
                <img class="brand-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-sb-badge.png"
                    alt="Soft Shell">
            </div>
            <span class="title">Soft Shell</span>
        </a>
        <a class="brand-item"
            href="/inksoft-supacolor-headwear//">
            <div class="img-container">
                <img class="brand-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-hd-badge.png"
                    alt="Headwear">
            </div>
            <span class="title">Headwear</span>
        </a>
        <a class="brand-item"
            href="/inksoft-supacolor-promotional/">
            <div class="img-container">
                <img class="brand-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supalanding-promo-badge.png"
                    alt="Promotional">
            </div>
            <span class="title">Promotional</span>
        </a>
    </nav>
</section>
