<section class="section clothing-categories">
    <h2 class="section-title"><strong>Categories</strong></h2>
    <!--<p class="section-intro">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p> -->
    <div class=" flex-grid">
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/st-patricks-day-patterned-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-stpatroll1.png?t=1644601080&_gl=1*1kusxzy*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDYwNzM3Ni41My4xLjE2NDQ2MDg5NzUuMzg."
                        alt="St. Patricks Patterned Vinyl">
                    <h4 class="home-category-banner"><strong>Patterned Vinyl</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/st-patricks-day-supacolor/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-stpatsupa.png?t=1644601080&_gl=1*1kusxzy*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDYwNzM3Ni41My4xLjE2NDQ2MDg5NzUuMzg."
                        alt="St. Patricks Supacolor Stock Transfers">
                    <h4 class="home-category-banner"><strong>Supacolor Transfers</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/st-patricks-day-adhesive-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-stpatroll2.png?t=1644601080&_gl=1*1kusxzy*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDYwNzM3Ni41My4xLjE2NDQ2MDg5NzUuMzg."
                        alt="St. Patricks Adhesive Patterned Vinyl">
                    <h4 class="home-category-banner"><strong>Adhesive Patterns</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/st-patricks-day-rhinestone-transfers/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-stpatrhinestones.png?t=1644601079&_gl=1*16t6byf*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDYwNzM3Ni41My4xLjE2NDQ2MDg5NzUuMzg."
                        alt="St. Patricks Rhinestone Transfers">
                    <h4 class="home-category-banner"><strong>Rhinestone Transfers</strong></h4>
                </a>
            </div>
        </div>
    </div>
</section>
