<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/stpatricks-pattern.jpg?t=1644601343&_gl=1*3bwhzc*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDYwNzM3Ni41My4xLjE2NDQ2MDgwNjAuNTM."
                    alt="Application Fluids">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Rhinestone Transfers</strong></h3>
                    <a href="/st-patricks-day-rhinestone-transfers/"
                        class="button button--outline button--large clr-white">Shop Rhinestones</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/stpatricks-supacolors.png?t=1644601344&_gl=1*3bwhzc*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDYwNzM3Ni41My4xLjE2NDQ2MDgwNjAuNTM."
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Supacolor Transfers</strong></h3>
                    <a href="/st-patricks-day-supacolor/" class="button button--outline button--large clr-white">Shop Supacolors</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/stpatricks-pattern-1-.jpg?t=1644601342&_gl=1*3bwhzc*_ga*MTA3MjQ2NTI4NS4xNjQzODMwMjU0*_ga_WS2VZYPC6G*MTY0NDYwNzM3Ni41My4xLjE2NDQ2MDgwNjAuNTM."
                    alt="Heat Press Teflon Pillows">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Patterned HTV</strong></h3>
                    <a href="/st-patricks-day-patterned-vinyl/"
                        class="button button--outline button--large clr-white">Shop Pattern HTV</a>
                </div>
            </div>
        </div>
    </div>
</section>
