<section class="section clothing-categories">
    <h2 class="section-title"><strong>Categories</strong></h2>
    <!--<p class="section-intro">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p> -->
    <div class=" flex-grid">
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/cutter-accessories/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/whitesquare.png?t=1643829350&_gl=1*zo9qdz*_ga*MTU5Mzg3NzA4My4xNjQzNjM4MzAw*_ga_WS2VZYPC6G*MTY0MzgyNzY2My4xMi4xLjE2NDM4MjkyOTYuNTY."
                        alt="Cutter Accessories">
                    <h4 class="home-category-banner"><strong></strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/juneteenth-black-history/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-bhpattern.png?t=1643820174&_gl=1*13ynhvz*_ga*MTU5Mzg3NzA4My4xNjQzNjM4MzAw*_ga_WS2VZYPC6G*MTY0MzgyNzY2My4xMi4xLjE2NDM4Mjg4OTAuNTk."
                        alt="Weeding Tools">
                    <h4 class="home-category-banner"><strong>Patterned HTV</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/juneteenth-black-history-2/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-blackhistorysupastock.png?t=1643820175&_gl=1*13ynhvz*_ga*MTU5Mzg3NzA4My4xNjQzNjM4MzAw*_ga_WS2VZYPC6G*MTY0MzgyNzY2My4xMi4xLjE2NDM4Mjg4OTAuNTk."
                        alt="Heat Press Accessories">
                    <h4 class="home-category-banner"><strong>Supacolor</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/juneteenth-black-history-1/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-bhpattern-2.png?t=1643820175&_gl=1*ng3x81*_ga*MTU5Mzg3NzA4My4xNjQzNjM4MzAw*_ga_WS2VZYPC6G*MTY0MzgyNzY2My4xMi4xLjE2NDM4Mjg4OTAuNTk."
                        alt="Teflon Pillows">
                    <h4 class="home-category-banner"><strong>Adhesive Vinyl</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/application-fluids/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/whitesquare.png?t=1643829350&_gl=1*zo9qdz*_ga*MTU5Mzg3NzA4My4xNjQzNjM4MzAw*_ga_WS2VZYPC6G*MTY0MzgyNzY2My4xMi4xLjE2NDM4MjkyOTYuNTY."
                        alt="Application Fluids">
                    <h4 class="home-category-banner"><strong></strong></h4>
                </a>
            </div>
        </div>
    </div>
</section>
