<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/blackhistorymonth-adhesivepsv.png?t=1643820172&_gl=1*112g2qk*_ga*MTU5Mzg3NzA4My4xNjQzNjM4MzAw*_ga_WS2VZYPC6G*MTY0MzgxOTM5Ni4xMS4xLjE2NDM4MjAwNzAuNDc."
                    alt="Application Fluids">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Patterned HTV</strong></h3>
                    <a href="/juneteenth-black-history/"
                        class="button button--outline button--large clr-white">Shop Patterned Vinyl</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/bca-landingpage-supastocks-blackhistorymonth.png?t=1643820174&_gl=1*g7ghcq*_ga*MTU5Mzg3NzA4My4xNjQzNjM4MzAw*_ga_WS2VZYPC6G*MTY0MzgxOTM5Ni4xMS4xLjE2NDM4MjAzMzguMTY."
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Stock Supacolors</strong></h3>
                    <a href="/juneteenth-black-history-2/" class="button button--outline button--large clr-white">Shop Supacolors</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/juneteenthsvgbannerlanding.png?t=1651848378&_gl=1*dxccpg*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY1MTg0MTg3My4xNTUuMS4xNjUxODQ4Mzg0LjYw"
                    alt="Heat Press Teflon Pillows">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>SVG Bundles</strong></h3>
                    <a href="/juneteenth-svg-bundle/"
                        class="button button--outline button--large clr-white">Shop Bundles</a>
                </div>
            </div>
        </div>
    </div>
</section>
