<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/bca-landingpage-pattern.jpg?t=1631050537&_gl=1*srwpp9*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTA0OTQ0Ni45MS4xLjE2MzEwNTA1NDEuMzM."
                    alt="Dye Sublimation">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                <h3><strong>Patterned Vinyl</strong></h3>
                <p>Add style to your garments with patterned vinyl!</p>
                    <a href="/breast-cancer-awareness-patterned-vinyl/"
                        class="button button--outline button--large clr-white">Shop Patterned Vinyl</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/bca-landingpage-supastocks.jpg?t=1631050537&_gl=1*srwpp9*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTA0OTQ0Ni45MS4xLjE2MzEwNTA1NDEuMzM."
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Supacolor Transfers</strong></h3>
                    <p>Add style to your garments with patterned vinyl!</p>
                    <a href="/patterned-vinyl/" class="button button--outline button--large clr-white">Shop Stock Supacolor</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/bca-landingpage-rhinestone.jpg?t=1631050538&_gl=1*16oaf31*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMTA0OTQ0Ni45MS4xLjE2MzEwNTA1NDEuMzM."
                    alt="Specialty Heat Transfer Vinyl">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Specialty Vinyl</strong></h3>
                    <p>Add unique look to your garments with Specialty HTV!</p>
                    <a href="/decorative-vinyl/"
                        class="button button--outline button--large clr-white">Shop Specialty Vinyl</a>
                </div>
            </div>
        </div>
    </div>
</section>
