<section class="section clothing-categories">
    <h2 class="section-title"><strong>Categories</strong></h2>
    <!--<p class="section-intro">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p> -->
    <div class=" flex-grid">
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/halloween-patterned-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-halloweenpatterns-01.jpg?t=1632518974&_gl=1*rt1i9z*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMjUxNTUzMS4xNDEuMS4xNjMyNTE4OTc2LjYw"
                        alt="Breast Cancer Awareness Patterned Vinyl">
                    <h4 class="home-category-banner"><strong>Patterned Vinyl</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/holidays/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-halloweensupas-01.jpg?t=1632518975&_gl=1*rt1i9z*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMjUxNTUzMS4xNDEuMS4xNjMyNTE4OTc2LjYw"
                        alt="Patriotic Supacolor Stock Transfers">
                    <h4 class="home-category-banner"><strong>Supacolor Transfers</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/halloween-adhesive-vinyl/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-halloweenpatternadhesive-01.jpg?t=1632518973&_gl=1*rt1i9z*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMjUxNTUzMS4xNDEuMS4xNjMyNTE4OTc2LjYw"
                        alt="Breast Cancer Awareness Adhesive Patterned Vinyl">
                    <h4 class="home-category-banner"><strong>Adhesive Patterns</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/halloween-rhinestone-transfers/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/circle-categories-halloweenrhinestones-01.jpg?t=1632518974&_gl=1*rt1i9z*_ga*MTE5MjM5NjI3NC4xNjI0MDQ0NjYx*_ga_WS2VZYPC6G*MTYzMjUxNTUzMS4xNDEuMS4xNjMyNTE4OTc2LjYw"
                        alt="Patriotic Rhinestone Transfers">
                    <h4 class="home-category-banner"><strong>Rhinestone Transfers</strong></h4>
                </a>
            </div>
        </div>
    </div>
</section>
