<section class="heroCarousel"
    data-slick='{
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": true,
        "autoplaySpeed": {{carousel.swap_frequency}},
        "lazyLoad": "anticipated",
        "slide": ".js-hero-slide",
        "prevArrow": ".js-hero-prev-arrow",
        "nextArrow": ".js-hero-next-arrow"
    }'>
    {{#and arrows (if carousel.slides.length '>' 1)}}
        <button aria-label="{{lang 'carousel.arrowAriaLabel'}} {{carousel.slides.length}}" class="js-hero-prev-arrow slick-prev slick-arrow">hero-prev-arrow</button>
    {{/and}}
    {{#if banners.bottom}}
        {{#each (limit banners.bottom_metadata 1)}}
            <div class="heroCarousel-slide heroCarousel-slide--first {{#if ../theme_settings.homepage_stretch_carousel_images}}stretch{{/if}}">
                <div class="heroCarousel-image-wrapper">
                    {{{this.content}}}
                </div>
            </div>
        {{/each}}
    {{/if}}
    {{#each carousel.slides}}
    <a href="{{url}}" class="js-hero-slide" aria-label="{{#if this.alt_text.length '!=' 0}}{{this.alt_text}}{{else}}{{lang 'common.carousel_slide_number' slide_number=(add @index 1)}}{{/if}}">
    <div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                {{#if @first}}
                {{> components/common/responsive-img
                    image=stencil_image
                    class="panel-cover-img"
                    fallback_size='1280w'
                    lazyload='disabled'
                }}
                {{else}}
                {{> components/common/responsive-img
                    image=stencil_image
                    class="panel-cover-img"
                    fallback_size='1280w'
                    lazyload='lazyload'
                }}
                {{/if}}
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    {{#if heading}}
                        {{> components/carousel-content show_background=true}}
                    {{else}}
                        {{#if text}}
                            {{> components/carousel-content show_background=true}}
                        {{else}}
                            {{#if button_text}}
                                {{> components/carousel-content show_background=false}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    </a>
    {{/each}}
    {{#and arrows (if carousel.slides.length '>' 1)}}
        <button aria-label="{{lang 'carousel.arrowAriaLabel'}} {{carousel.slides.length}}" class="js-hero-next-arrow slick-next slick-arrow">hero-next-arrow</button>
    {{/and}}
</section>
