<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/pridestocksupacolorbanner.png?t=1651700876&_gl=1*zx27hm*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY1MTc1NzM1My4xNDcuMS4xNjUxNzU3NTA5LjEy"
                    alt="Application Fluids">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Stock Supacolor Transfers</strong></h3>
                    <a href="/pride-1/"
                        class="button button--outline button--large clr-white">Shop Supacolor</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/pridepatterns-1-.png?t=1651847916&_gl=1*12r5ntc*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY1MTg0MTg3My4xNTUuMS4xNjUxODQ3ODk4LjU1"
                    alt="Supacolor">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Patterned Vinyl</strong></h3>
                    <a href="/pride-rainbow-patterned-vinyl/" class="button button--outline button--large clr-white">Shop Vinyl</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/svgbundlebanner.png?t=1651764856&_gl=1*ldllsr*_ga*MTkzNTYzNjcyNy4xNjQ3NTIyMjc4*_ga_WS2VZYPC6G*MTY1MTc2MTkxOC4xNDguMS4xNjUxNzYzNzQ0LjU2"
                    alt="Heat Press Teflon Pillows">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>SVG Bundle</strong></h3>
                    <a href="/pride-svg-bundle/"
                        class="button button--outline button--large clr-white">Shop Bundle</a>
                </div>
            </div>
        </div>
    </div>
</section>
