
<section class="section clothing-categories">
    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supalandingpage-banner.jpg?t=1619614411&_ga=2.140754740.723558012.1619442214-1098918792.1573072587" alt="Supacolor Transfers"class="center">
    <h1 class="section-title"><strong>Supacolor Screen Print Transfers</strong></h1>
    <div class="grid-item" style="width: 100%; display: flex; justify-content: space-around; margin-top: 30px; margin-bottom: 50px;">
        <div class="hover-custom" style="background-image: linear-gradient(120deg, #85ddff, #ca85ff);">
            <div class="discover-category" style="display: flex; justify-content: space-around;">
                <a href="/supacolor-designer/" style="text-decoration: none;">
                    <h1 class="home-category-banner" style="text-align: center; color: white; width: 500px;"><strong style="position: relative; bottom: 20px;">Order Here!</strong></h1>
                </a>
            </div>
        </div>
    </div>
    <!--<p class="section-intro">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p> -->
    <div class=" flex-grid">
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/supacolor-wearables-screen-print-transfer/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supalanding-hw-badge-01.png?t=1619615523&_ga=2.117553353.1133977346.1621251000-1098918792.1573072587"
                        alt="Supacolor Wearable Transfers">
                    <h4 class="home-category-banner"><strong>Wearables Transfers</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/supacolor-sub-blocker-screen-print-transfers/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-bl-badge.png?t=1619560029&_ga=2.118225679.723558012.1619442214-1098918792.1573072587"
                        alt="Supacolor Sub Blocker Transfers">
                    <h4 class="home-category-banner"><strong>Blocker Transfers</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/supacolor-soft-shell-blocker-screen-print-transfer/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-sb-badge.png?t=1619559994&_ga=2.118159887.723558012.1619442214-1098918792.1573072587"
                        alt="Supacolor Soft Shell Blocker Transfers">
                    <h4 class="home-category-banner"><strong>Soft Shell Transfers</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/supacolor-headwear-screen-print-transfer/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-hd-badge.png?t=1619560029&_ga=2.118159887.723558012.1619442214-1098918792.1573072587"
                        alt="Supacolor Headwear Transfer">
                    <h4 class="home-category-banner"><strong>Headwear Transfers</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/supacolor-promotional-screen-print-transfers/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supalanding-promo-badge.png?t=1619615957&_ga=2.142734709.1133977346.1621251000-1098918792.1573072587"
                        alt="Supacolor Promotional Transfers">
                    <h4 class="home-category-banner"><strong>Promotional Transfers</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/outerwear/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-blank.jpg?t=1619462550&_ga=2.19247934.723558012.1619442214-1098918792.1573072587"
                        alt="OUTERWEAR">
                    <h4 class="home-category-banner"><strong</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/stock-supacolor-transfers/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-stock.png?t=1619559992&_ga=2.17522495.723558012.1619442214-1098918792.1573072587"
                        alt="Supacolor Stock Transfers">
                    <h4 class="home-category-banner"><strong>Stock Transfers</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/screen-print-transfers-heat-press-transfers/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-samples.jpg?t=1619559994&_ga=2.15948720.723558012.1619442214-1098918792.1573072587"
                        alt="Supacolor Sample Packs">
                    <h4 class="home-category-banner"><strong>Sample Packs</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/supacolor-custom-transfers/">
                    <img src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/supa-shopall-black.png?t=1619559993&_ga=2.15948720.723558012.1619442214-1098918792.1573072587"
                        alt="Supacolor Screen Print Heat Transfers">
                    <h4 class="home-category-banner"><strong>Shop All</strong></h4>
                </a>
            </div>
        </div>
        <div class="grid-item xs-6 sm-3 md-1-fifth">
            <div class="discover-category">
                <a href="/supacolor-designer/">
                    <h4 class="home-category-banner"><strong></strong></h4>
                </a>
            </div>
        </div>
    </div>
    <div class="klaviyo-form-RFA7WJ">&nbsp;</div>
</section>
