<article class="card" {{#if settings.data_tag_enabled}} data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}"{{else}}data-entity-id="{{id}}"{{/if}} >
    <figure class="card-figure">
        {{#gt qty_in_cart 0}}
            <div class="sale-flag-in-cart">
                <span class="sale-text">{{qty_in_cart}} in cart</span>
            </div>
        {{/gt}}
        {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
            {{#if theme_settings.product_sale_badges '===' 'sash'}}
                <div class="sale-flag-sash">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'topleft'}}
                <div class="sale-flag-side">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'burst'}}
                <div class="starwrap">
                    <div class="sale-text-burst">On Sale!</div>
                    <div class="sale-flag-star"></div>
                </div>
            {{/if}}
        {{/or}}
        {{#if demo}}
            <div class="card-img-container">
                {{> components/common/responsive-img
                    image=image
                    class="card-image"
                    fallback_size=theme_settings.productgallery_size
                    lazyload=true
                    default_image=theme_settings.default_image_product
                }}
				<div class="shine"></div>
            </div>
        {{else}}
            <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
                <div class="card-img-container">
                    <img loading="lazy" class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
					<div class="shine"></div>
                </div>
            </a>
        {{/if}}
    </figure>
    <div class="card-body">
        
        {{#if brand.name}}
            <p class="card-text" data-test-info-type="brandName">{{brand.name}}</p>
        {{/if}}
        <h4 class="card-title">
            {{#if demo}}
                {{name}}
            {{else}}
                <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
            {{/if}}
        </h4>

        <div class="card-text" data-test-info-type="price">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{> components/products/price price=price}}
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
        {{> components/products/bulk-discount-rates}}
    </div>
</article>
