<h2>Requesting a Quote</h2>
<ul>
	<li>Sublimation will only work best on 100% white polyester garment and treated surfaces</li>
	<li>Can work on other types of garments such as 50/50 blends and cotton</li>
	<li>Press onto other light colored garments but note that it will not be as vibrant as it will take on the color of the garment</li>
	<li>Artwork quality must be higher than 300 dpi resolution or vector images</li>
	<li>Please upload the artwork using the <a href="javascript:void(0)" onclick="document.documentElement.classList.add('custom-form-modal-open');">Request a Quote</a> form</li>
	<li>Production can take 1-3 business days to complete your order. If a longer timeline is needed, the artist will contact you via email or phone.</li>
	<li>If pressing on anything other than fabric, please call for further instructions as this will change how HTW prints your designs.&nbsp;</li>
	<li>Orders do not qualify for free freight.</li>
	<li>Does NOT print Neons or Pantone colors.</li>
</ul>
