<h2>Send in your own artwork to receive a free quote/proof!</h2>
<ul>
	<li>Requesting a quote section with all the bullets add at the top:</li>
	<li>
		<ul>
			<li>Transfers are NOT sticky to the touch but when activated with heat the transfer will adhere to your garment for pressing.</li>
			<li>Eliminates the need for thermal spray or tape</li>
			<li>NOT recommended for hard surfaces</li>
		</ul>
	</li>
	<li>Sublimation will only work best on 100% white polyester garment and treated surfaces</li>
	<li>Can work on other types of garments such as 50/50 blends and cotton</li>
	<li>Press onto other light colored garments but note that it will not be as vibrant as it will take on the color of the garment</li>
	<li>Artwork quality must be higher than 300 dpi resolution or vector images</li>
</ul>
