{{#if product.id '===' '2651'}}
	<!-- Custom Full Color Digital form -->
	<div class="custom-form-modal">
		<button class="modal-control esc"><i class="icon"><svg><use xlink:href="#icon-chevron-left" /></svg></i> ESC</button>
		<button class="modal-control close"><i class="icon"><svg><use xlink:href="#icon-close" /></svg></i> CLOSE</button>
		{{> components/custom-transfers/full-color-digital}}
	</div>
	<!-- END Custom Full Color Digital form -->
{{/if}}
{{#if product.id '===' '2657'}}
	<!-- Custom Dye Sublimation form -->
	<div class="custom-form-modal">
		<button class="modal-control esc"><i class="icon"><svg><use xlink:href="#icon-chevron-left" /></svg></i> ESC</button>
		<button class="modal-control close"><i class="icon"><svg><use xlink:href="#icon-close" /></svg></i> CLOSE</button>
		{{> components/custom-transfers/dye-sublimation}}
	</div>
	<!-- END Custom Dye Sublimation form -->
{{/if}}
{{#if product.id '===' '2658'}}
	<!-- Custom Full Color Digital Sign Decals form -->
	<div class="custom-form-modal">
		<button class="modal-control esc"><i class="icon"><svg><use xlink:href="#icon-chevron-left" /></svg></i> ESC</button>
		<button class="modal-control close"><i class="icon"><svg><use xlink:href="#icon-close" /></svg></i> CLOSE</button>
		{{> components/custom-transfers/full-color-digital-sign-decals}}
	</div>
	<!-- END Custom Full Color Digital Sign Decals form -->
{{/if}}
{{#if product.id '===' '2664'}}
	<!--  Rhinestone Transfers form -->
	<div class="custom-form-modal">
		<button class="modal-control esc"><i class="icon"><svg><use xlink:href="#icon-chevron-left" /></svg></i> ESC</button>
		<button class="modal-control close"><i class="icon"><svg><use xlink:href="#icon-close" /></svg></i> CLOSE</button>
		{{> components/custom-transfers/rhinestone}}
	</div>
	<!-- END Rhinestone Transfers form -->
{{/if}}
{{#if product.id '===' '5257'}}
	<!--  Custom Removable Wall Decal form -->
	<div class="custom-form-modal">
		<button class="modal-control esc"><i class="icon"><svg><use xlink:href="#icon-chevron-left" /></svg></i> ESC</button>
		<button class="modal-control close"><i class="icon"><svg><use xlink:href="#icon-close" /></svg></i> CLOSE</button>
		{{> components/custom-transfers/wall-decals}}
	</div>
	<!-- END Custom Removable Wall Decal form -->
{{/if}}
{{#if product.id '===' '5314'}}
	<!--  Sticky Dye Sublimation form -->
	<div class="custom-form-modal">
		<button class="modal-control esc"><i class="icon"><svg><use xlink:href="#icon-chevron-left" /></svg></i> ESC</button>
		<button class="modal-control close"><i class="icon"><svg><use xlink:href="#icon-close" /></svg></i> CLOSE</button>
		{{> components/custom-transfers/dye-sublimation}}
	</div>
	<!-- END Sticky Dye Sublimation form -->
{{/if}}
