<h2>Requesting a Quote</h2>
<p>In order to receive a quote, please use the Request a Quote button found in the description area of this page. We will need the following information to complete the quote:</p>
<ul>
	<li>Contact information</li>
	<li>Image of artwork.
		<ul>
			<li>Acceptable formats: JPG file, PDF file, Adobe Illustrator file, EPS file</li>
		</ul>
	</li>
	<li>Color of preferred stones</li>
	<li>Dimensions of design in Width (w) and Height (h)
		<ul>
			<li>14x14 inch maximum</li>
		</ul>
	</li>
	<li>Quantity of transfers
		<ul>
			<li>10 transfers minimum</li>
		</ul>
	</li>
</ul>
