<div class="custom-quote-form-button-container text-center">
	<button id="custom-quote-form-button" class="button button--primary">REQUEST A QUOTE</button>
</div>
<script type="text/javascript">
	window.addEventListener('DOMContentLoaded', function() {
		var quoteButton = document.getElementById('custom-quote-form-button');
		if (quoteButton) {
			quoteButton.addEventListener('click', function(e) {
				e.preventDefault();
				e.stopPropagation();
				document.documentElement.classList.add('custom-form-modal-open');
			});
		}
	});
</script>
