<h2>Requesting a Quote</h2>
<ul>
	<li>Send in&nbsp;your own artwork&nbsp;to receive a free quote/proof</li>
	<li>Full color</li>
	<li>Photo-realistic quality</li>
	<li>Unlimited colors (no Pantones/neons)</li>
	<li>Ideal for patterns,&nbsp;shading, and multi-colored designs</li>
	<li>Must meet our 10 transfer (per artwork) and/or&nbsp;$30 order minimum</li>
	<li>Can be used on most materials</li>
	<li>Allow 1-3 business days&nbsp;turnaround time before shipment</li>
	<li>All graphics will have a white border or safe area added to them upon printing</li>
</ul>
