<section class="section clothing-panels">
    <div class="flex-grid">
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-stocktransfers.jpg?t=1620760319&_ga=2.158309042.907421027.1620643288-1098918792.1573072587"
                    alt="Stock Rhinestone Transfer">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Stock Rhinestone Transfer</strong></h3>
                    <p>Wide selection of stock rhinestone transfers</p>
                    <a href="/rhinestone-transfers/"
                        class="button button--outline button--large clr-white">Shop Stock Rhinestone Transfers</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
                    src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-hotfixrhinestones.jpg?t=1620760318&_ga=2.62970407.907421027.1620643288-1098918792.1573072587"
                    alt="HotFix Rhinestones">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>HotFix Rhinestones</strong></h3>
                    <p>Korean Low Lead Rhinestones</p>
                    <a href="/hotfix-rhinestones/" class="button button--outline button--large clr-white">Shop HotFix Rhinestones</a>
                </div>
            </div>
        </div>
        <div class="grid-item xs-12 sm-4">
            <div class="panel">
                <img class="panel-cover-img"
            src="https://cdn11.bigcommerce.com/s-et4qthkygq/product_images/uploaded_images/customlanding-templateboard.jpg?t=1620760318&_ga=2.92339477.907421027.1620643288-1098918792.1573072587"
                    alt="Rhinestone Templates">
                <div class="panel-gradient"></div>
                <div class="panel-content clr-white">
                    <h3><strong>Rhinestone Templates</strong></h3>
                    <p>Create your very own Rhinestone Transfers!</p>
                    <a href="/rhinestone-templates/"
                        class="button button--outline button--large clr-white">Shop Rhinestone Templates</a>
                </div>
            </div>
        </div>
    </div>
</section>
